In [ ]:
# DMG Formula
dmg = attack*(100/(100+defense))

In [ ]:
# Kalender
# tanggal = 1 - 30
# bulan = 1 - 12

# Umur Stabil 10 sampai 40
# Umur 10 Penentuan Fighter atau bukan
# anak-anak (1-7), Remaja (8-16), dewasa Muda(17-25), Dewasa Tua(26-40), Lansia(41-100)

In [ ]:
# Sistem Damage
# Sistem Duel
# Sistem Level
# Sistem Umur
# Sistem Stamina
# Sistem Makan
# Sistem Keuangan
# Sistem Daily
# Sistem Kelas Otomatis (Awal di buat)
# Sistem Kelas Otomatis (Setelah 10 Tahun)
# Sistem Pemberian Roles (King/Queen, Panglima, Prajurit, Fighter, Penduduk)

In [ ]:
karakter_list =[karakter("gerald", 20), karakter("plakasa", 19)]
for i in range(360):
  karakter_list = daily(karakter_list)
  karakter_list[0].info()
  print(" ")
  
  # karakter_list[1].info()

Name : gerald
Age : 20
Kelamin : Perempuan
Level : 0
Coin : 750
ATK : 7
DEF : 14
SPD : 8
Health : 597
Stamina : 103
EXP : 38


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 0
Coin : 750
ATK : 7
DEF : 14
SPD : 8
Health : 597
Stamina : 103
EXP : 71


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 0
Coin : 768
ATK : 7
DEF : 14
SPD : 8
Health : 597
Stamina : 103
EXP : 83


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 1
Coin : 711
ATK : 22
DEF : 28
SPD : 22
Health : 691
Stamina : 105
EXP : 0


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 1
Coin : 590
ATK : 22
DEF : 28
SPD : 22
Health : 691
Stamina : 105
EXP : 35


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 1
Coin : 608
ATK : 22
DEF : 28
SPD : 22
Health : 691
Stamina : 105
EXP : 75


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 1
Coin : 586
ATK : 22
DEF : 28
SPD : 22
Health : 691
Stamina : 105
EXP : 110


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 1
Coin : 649
ATK : 22
DEF : 28
SPD : 22
Health : 691
Stamina : 105
EXP : 190


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 2
Coin : 572
ATK : 45
DEF : 40
SPD : 25
Health : 755
Stamina : 110
EXP : 17


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 2
Coin : 532
ATK : 45
DEF : 40
SPD : 25
Health : 755
Stamina : 110
EXP : 33


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 2
Coin : 585
ATK : 45
DEF : 40
SPD : 25
Health : 755
Stamina : 110
EXP : 52


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 2
Coin : 1152
ATK : 45
DEF : 40
SPD : 25
Health : 755
Stamina : 110
EXP : 142


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 2
Coin : 1110
ATK : 45
DEF : 40
SPD : 25
Health : 755
Stamina : 110
EXP : 161


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 2
Coin : 1070
ATK : 45
DEF : 40
SPD : 25
Health : 755
Stamina : 110
EXP : 161


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 2
Coin : 1069
ATK : 45
DEF : 40
SPD : 25
Health : 755
Stamina : 110
EXP : 191


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 2
Coin : 1007
ATK : 45
DEF : 40
SPD : 25
Health : 755
Stamina : 110
EXP : 205


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 2
Coin : 930
ATK : 45
DEF : 40
SPD : 25
Health : 755
Stamina : 110
EXP : 231


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 2
Coin : 898
ATK : 45
DEF : 40
SPD : 25
Health : 755
Stamina : 110
EXP : 236


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 2
Coin : 838
ATK : 45
DEF : 40
SPD : 25
Health : 755
Stamina : 110
EXP : 236


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 2
Coin : 840
ATK : 45
DEF : 40
SPD : 25
Health : 755
Stamina : 110
EXP : 272


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 2
Coin : 775
ATK : 45
DEF : 40
SPD : 25
Health : 755
Stamina : 110
EXP : 299


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 3
Coin : 787
ATK : 70
DEF : 62
SPD : 33
Health : 843
Stamina : 118
EXP : 18


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 3
Coin : 1260
ATK : 70
DEF : 62
SPD : 33
Health : 843
Stamina : 118
EXP : 127


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 3
Coin : 1322
ATK : 70
DEF : 62
SPD : 33
Health : 843
Stamina : 118
EXP : 143


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 3
Coin : 1352
ATK : 70
DEF : 62
SPD : 33
Health : 843
Stamina : 118
EXP : 165


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 3
Coin : 1285
ATK : 70
DEF : 62
SPD : 33
Health : 843
Stamina : 118
EXP : 222


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 3
Coin : 1918
ATK : 70
DEF : 62
SPD : 33
Health : 843
Stamina : 118
EXP : 375


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 3
Coin : 1918
ATK : 70
DEF : 62
SPD : 33
Health : 843
Stamina : 118
EXP : 398


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 4
Coin : 1975
ATK : 91
DEF : 83
SPD : 42
Health : 900
Stamina : 128
EXP : 0


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 4
Coin : 2588
ATK : 91
DEF : 83
SPD : 42
Health : 900
Stamina : 128
EXP : 78


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 4
Coin : 3095
ATK : 91
DEF : 83
SPD : 42
Health : 900
Stamina : 128
EXP : 201


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 4
Coin : 3229
ATK : 91
DEF : 83
SPD : 42
Health : 900
Stamina : 128
EXP : 212


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 4
Coin : 3221
ATK : 91
DEF : 83
SPD : 42
Health : 900
Stamina : 128
EXP : 235


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 4
Coin : 3246
ATK : 91
DEF : 83
SPD : 42
Health : 900
Stamina : 128
EXP : 255


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 4
Coin : 3181
ATK : 91
DEF : 83
SPD : 42
Health : 900
Stamina : 128
EXP : 292


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 4
Coin : 3116
ATK : 91
DEF : 83
SPD : 42
Health : 900
Stamina : 128
EXP : 304


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 4
Coin : 3174
ATK : 91
DEF : 83
SPD : 42
Health : 900
Stamina : 128
EXP : 313


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 4
Coin : 3057
ATK : 91
DEF : 83
SPD : 42
Health : 900
Stamina : 128
EXP : 349


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 4
Coin : 3170
ATK : 91
DEF : 83
SPD : 42
Health : 900
Stamina : 128
EXP : 376


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 4
Coin : 3217
ATK : 91
DEF : 83
SPD : 42
Health : 900
Stamina : 128
EXP : 435


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 4
Coin : 3217
ATK : 91
DEF : 83
SPD : 42
Health : 900
Stamina : 128
EXP : 462


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 4
Coin : 3227
ATK : 91
DEF : 83
SPD : 42
Health : 900
Stamina : 128
EXP : 496


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 5
Coin : 3881
ATK : 110
DEF : 94
SPD : 44
Health : 995
Stamina : 142
EXP : 89


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 5
Coin : 3924
ATK : 110
DEF : 94
SPD : 44
Health : 995
Stamina : 142
EXP : 120


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 5
Coin : 4528
ATK : 110
DEF : 94
SPD : 44
Health : 995
Stamina : 142
EXP : 248


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 5
Coin : 4539
ATK : 110
DEF : 94
SPD : 44
Health : 995
Stamina : 142
EXP : 319


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 5
Coin : 4509
ATK : 110
DEF : 94
SPD : 44
Health : 995
Stamina : 142
EXP : 359


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 5
Coin : 4507
ATK : 110
DEF : 94
SPD : 44
Health : 995
Stamina : 142
EXP : 391


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 5
Coin : 4425
ATK : 110
DEF : 94
SPD : 44
Health : 995
Stamina : 142
EXP : 391


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 5
Coin : 4400
ATK : 110
DEF : 94
SPD : 44
Health : 995
Stamina : 142
EXP : 391


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 5
Coin : 4427
ATK : 110
DEF : 94
SPD : 44
Health : 995
Stamina : 142
EXP : 410


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 5
Coin : 4387
ATK : 110
DEF : 94
SPD : 44
Health : 995
Stamina : 142
EXP : 410


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 5
Coin : 4390
ATK : 110
DEF : 94
SPD : 44
Health : 995
Stamina : 142
EXP : 466


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 5
Coin : 4474
ATK : 110
DEF : 94
SPD : 44
Health : 995
Stamina : 142
EXP : 499


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 5
Coin : 4459
ATK : 110
DEF : 94
SPD : 44
Health : 995
Stamina : 142
EXP : 522


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 5
Coin : 4534
ATK : 110
DEF : 94
SPD : 44
Health : 995
Stamina : 142
EXP : 560


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 5
Coin : 4505
ATK : 110
DEF : 94
SPD : 44
Health : 995
Stamina : 142
EXP : 586


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 6
Coin : 4470
ATK : 124
DEF : 118
SPD : 49
Health : 1072
Stamina : 152
EXP : 0


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 6
Coin : 5033
ATK : 124
DEF : 118
SPD : 49
Health : 1072
Stamina : 152
EXP : 80


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 6
Coin : 5079
ATK : 124
DEF : 118
SPD : 49
Health : 1072
Stamina : 152
EXP : 99


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 6
Coin : 5173
ATK : 124
DEF : 118
SPD : 49
Health : 1072
Stamina : 152
EXP : 161


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 6
Coin : 5101
ATK : 124
DEF : 118
SPD : 49
Health : 1072
Stamina : 152
EXP : 184


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 6
Coin : 5840
ATK : 124
DEF : 118
SPD : 49
Health : 1072
Stamina : 152
EXP : 297


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 6
Coin : 5901
ATK : 124
DEF : 118
SPD : 49
Health : 1072
Stamina : 152
EXP : 359


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 6
Coin : 5821
ATK : 124
DEF : 118
SPD : 49
Health : 1072
Stamina : 152
EXP : 359


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 6
Coin : 5795
ATK : 124
DEF : 118
SPD : 49
Health : 1072
Stamina : 152
EXP : 365


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 6
Coin : 5845
ATK : 124
DEF : 118
SPD : 49
Health : 1072
Stamina : 152
EXP : 405


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 6
Coin : 5895
ATK : 124
DEF : 118
SPD : 49
Health : 1072
Stamina : 152
EXP : 436


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 6
Coin : 5926
ATK : 124
DEF : 118
SPD : 49
Health : 1072
Stamina : 152
EXP : 447


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 6
Coin : 6404
ATK : 124
DEF : 118
SPD : 49
Health : 1072
Stamina : 152
EXP : 516


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 6
Coin : 6439
ATK : 124
DEF : 118
SPD : 49
Health : 1072
Stamina : 152
EXP : 534


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 6
Coin : 6399
ATK : 124
DEF : 118
SPD : 49
Health : 1072
Stamina : 152
EXP : 534


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 6
Coin : 6339
ATK : 124
DEF : 118
SPD : 49
Health : 1072
Stamina : 152
EXP : 534


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 6
Coin : 6384
ATK : 124
DEF : 118
SPD : 49
Health : 1072
Stamina : 152
EXP : 576


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 6
Coin : 6373
ATK : 124
DEF : 118
SPD : 49
Health : 1072
Stamina : 152
EXP : 643


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 6
Coin : 6268
ATK : 124
DEF : 118
SPD : 49
Health : 1072
Stamina : 152
EXP : 669


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 7
Coin : 6786
ATK : 143
DEF : 133
SPD : 56
Health : 1164
Stamina : 161
EXP : 24


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 7
Coin : 6772
ATK : 143
DEF : 133
SPD : 56
Health : 1164
Stamina : 161
EXP : 44


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 7
Coin : 6695
ATK : 143
DEF : 133
SPD : 56
Health : 1164
Stamina : 161
EXP : 75


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 7
Coin : 6718
ATK : 143
DEF : 133
SPD : 56
Health : 1164
Stamina : 161
EXP : 109


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 7
Coin : 6751
ATK : 143
DEF : 133
SPD : 56
Health : 1164
Stamina : 161
EXP : 167


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 7
Coin : 6709
ATK : 143
DEF : 133
SPD : 56
Health : 1164
Stamina : 161
EXP : 179


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 7
Coin : 6642
ATK : 143
DEF : 133
SPD : 56
Health : 1164
Stamina : 161
EXP : 206


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 7
Coin : 7098
ATK : 143
DEF : 133
SPD : 56
Health : 1164
Stamina : 161
EXP : 281


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 7
Coin : 7788
ATK : 143
DEF : 133
SPD : 56
Health : 1164
Stamina : 161
EXP : 373


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 7
Coin : 7885
ATK : 143
DEF : 133
SPD : 56
Health : 1164
Stamina : 161
EXP : 440


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 7
Coin : 9131
ATK : 143
DEF : 133
SPD : 56
Health : 1164
Stamina : 161
EXP : 667


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 7
Coin : 9587
ATK : 143
DEF : 133
SPD : 56
Health : 1164
Stamina : 161
EXP : 749


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 7
Coin : 9545
ATK : 143
DEF : 133
SPD : 56
Health : 1164
Stamina : 161
EXP : 762


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 8
Coin : 9557
ATK : 162
DEF : 145
SPD : 64
Health : 1233
Stamina : 172
EXP : 0


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 8
Coin : 9591
ATK : 162
DEF : 145
SPD : 64
Health : 1233
Stamina : 172
EXP : 39


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 8
Coin : 9696
ATK : 162
DEF : 145
SPD : 64
Health : 1233
Stamina : 172
EXP : 94


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 8
Coin : 10238
ATK : 162
DEF : 145
SPD : 64
Health : 1233
Stamina : 172
EXP : 205


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 8
Coin : 10791
ATK : 162
DEF : 145
SPD : 64
Health : 1233
Stamina : 172
EXP : 283


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 8
Coin : 10756
ATK : 162
DEF : 145
SPD : 64
Health : 1233
Stamina : 172
EXP : 283


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 8
Coin : 11452
ATK : 162
DEF : 145
SPD : 64
Health : 1233
Stamina : 172
EXP : 393


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 8
Coin : 11471
ATK : 162
DEF : 145
SPD : 64
Health : 1233
Stamina : 172
EXP : 458


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 8
Coin : 11372
ATK : 162
DEF : 145
SPD : 64
Health : 1233
Stamina : 172
EXP : 471


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 8
Coin : 11363
ATK : 162
DEF : 145
SPD : 64
Health : 1233
Stamina : 172
EXP : 500


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 8
Coin : 11488
ATK : 162
DEF : 145
SPD : 64
Health : 1233
Stamina : 172
EXP : 549


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 8
Coin : 11448
ATK : 162
DEF : 145
SPD : 64
Health : 1233
Stamina : 172
EXP : 562


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 8
Coin : 11477
ATK : 162
DEF : 145
SPD : 64
Health : 1233
Stamina : 172
EXP : 591


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 8
Coin : 11514
ATK : 162
DEF : 145
SPD : 64
Health : 1233
Stamina : 172
EXP : 651


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 8
Coin : 11588
ATK : 162
DEF : 145
SPD : 64
Health : 1233
Stamina : 172
EXP : 697


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 8
Coin : 11521
ATK : 162
DEF : 145
SPD : 64
Health : 1233
Stamina : 172
EXP : 697


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 8
Coin : 11566
ATK : 162
DEF : 145
SPD : 64
Health : 1233
Stamina : 172
EXP : 728


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 8
Coin : 11673
ATK : 162
DEF : 145
SPD : 64
Health : 1233
Stamina : 172
EXP : 792


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 8
Coin : 11601
ATK : 162
DEF : 145
SPD : 64
Health : 1233
Stamina : 172
EXP : 833


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 8
Coin : 11675
ATK : 162
DEF : 145
SPD : 64
Health : 1233
Stamina : 172
EXP : 879


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 9
Coin : 11688
ATK : 178
DEF : 157
SPD : 74
Health : 1328
Stamina : 183
EXP : 0


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 9
Coin : 11598
ATK : 178
DEF : 157
SPD : 74
Health : 1328
Stamina : 183
EXP : 28


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 9
Coin : 12229
ATK : 178
DEF : 157
SPD : 74
Health : 1328
Stamina : 183
EXP : 138


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 9
Coin : 12289
ATK : 178
DEF : 157
SPD : 74
Health : 1328
Stamina : 183
EXP : 163


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 9
Coin : 12265
ATK : 178
DEF : 157
SPD : 74
Health : 1328
Stamina : 183
EXP : 192


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 9
Coin : 12850
ATK : 178
DEF : 157
SPD : 74
Health : 1328
Stamina : 183
EXP : 322


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 9
Coin : 12823
ATK : 178
DEF : 157
SPD : 74
Health : 1328
Stamina : 183
EXP : 351


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 9
Coin : 12756
ATK : 178
DEF : 157
SPD : 74
Health : 1328
Stamina : 183
EXP : 372


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 9
Coin : 13251
ATK : 178
DEF : 157
SPD : 74
Health : 1328
Stamina : 183
EXP : 453


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 9
Coin : 13382
ATK : 178
DEF : 157
SPD : 74
Health : 1328
Stamina : 183
EXP : 479


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 9
Coin : 13394
ATK : 178
DEF : 157
SPD : 74
Health : 1328
Stamina : 183
EXP : 515


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 9
Coin : 13322
ATK : 178
DEF : 157
SPD : 74
Health : 1328
Stamina : 183
EXP : 567


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 9
Coin : 13310
ATK : 178
DEF : 157
SPD : 74
Health : 1328
Stamina : 183
EXP : 608


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 9
Coin : 13334
ATK : 178
DEF : 157
SPD : 74
Health : 1328
Stamina : 183
EXP : 616


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 9
Coin : 13382
ATK : 178
DEF : 157
SPD : 74
Health : 1328
Stamina : 183
EXP : 685


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 9
Coin : 13315
ATK : 178
DEF : 157
SPD : 74
Health : 1328
Stamina : 183
EXP : 711


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 9
Coin : 13344
ATK : 178
DEF : 157
SPD : 74
Health : 1328
Stamina : 183
EXP : 746


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 9
Coin : 13451
ATK : 178
DEF : 157
SPD : 74
Health : 1328
Stamina : 183
EXP : 771


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 9
Coin : 13465
ATK : 178
DEF : 157
SPD : 74
Health : 1328
Stamina : 183
EXP : 809


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 9
Coin : 13413
ATK : 178
DEF : 157
SPD : 74
Health : 1328
Stamina : 183
EXP : 855


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 9
Coin : 13403
ATK : 178
DEF : 157
SPD : 74
Health : 1328
Stamina : 183
EXP : 917


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 9
Coin : 13346
ATK : 178
DEF : 157
SPD : 74
Health : 1328
Stamina : 183
EXP : 936


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 9
Coin : 13335
ATK : 178
DEF : 157
SPD : 74
Health : 1328
Stamina : 183
EXP : 977


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 9
Coin : 13295
ATK : 178
DEF : 157
SPD : 74
Health : 1328
Stamina : 183
EXP : 977


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 9
Coin : 13230
ATK : 178
DEF : 157
SPD : 74
Health : 1328
Stamina : 183
EXP : 977


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 9
Coin : 13244
ATK : 178
DEF : 157
SPD : 74
Health : 1328
Stamina : 183
EXP : 992


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 10
Coin : 13140
ATK : 190
DEF : 167
SPD : 78
Health : 1421
Stamina : 196
EXP : 28


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 10
Coin : 13812
ATK : 190
DEF : 167
SPD : 78
Health : 1421
Stamina : 196
EXP : 150


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 10
Coin : 14343
ATK : 190
DEF : 167
SPD : 78
Health : 1421
Stamina : 196
EXP : 257


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 10
Coin : 14879
ATK : 190
DEF : 167
SPD : 78
Health : 1421
Stamina : 196
EXP : 352


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 10
Coin : 14824
ATK : 190
DEF : 167
SPD : 78
Health : 1421
Stamina : 196
EXP : 374


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 10
Coin : 14797
ATK : 190
DEF : 167
SPD : 78
Health : 1421
Stamina : 196
EXP : 413


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 10
Coin : 14885
ATK : 190
DEF : 167
SPD : 78
Health : 1421
Stamina : 196
EXP : 453


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 10
Coin : 14896
ATK : 190
DEF : 167
SPD : 78
Health : 1421
Stamina : 196
EXP : 519


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 10
Coin : 15101
ATK : 190
DEF : 167
SPD : 78
Health : 1421
Stamina : 196
EXP : 622


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 10
Coin : 15102
ATK : 190
DEF : 167
SPD : 78
Health : 1421
Stamina : 196
EXP : 667


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 10
Coin : 15113
ATK : 190
DEF : 167
SPD : 78
Health : 1421
Stamina : 196
EXP : 715


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 10
Coin : 15194
ATK : 190
DEF : 167
SPD : 78
Health : 1421
Stamina : 196
EXP : 808


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 10
Coin : 15885
ATK : 190
DEF : 167
SPD : 78
Health : 1421
Stamina : 196
EXP : 919


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 10
Coin : 17093
ATK : 190
DEF : 167
SPD : 78
Health : 1421
Stamina : 196
EXP : 1087


Name : gerald
Age : 20
Kelamin : Perempuan
Level : 11
Coin : 17141
ATK : 207
DEF : 183
SPD : 89
Health : 1496
Stamina : 198
EXP : 0


Name : gerald
Age : 20

# **Comparation Code**

In [ ]:
import timeit
import numpy as np
from timeit import Timer

def ageUp1():
  karakter_list = []
  karakter_info = [[],[],[],[],[],[],[],[],[],[]]
  for i in range(6000):
    if i < 2400:
      umur = random.randint(15, 40)
    else:
      umur = random.randint(1, 99)
    karakter_list.append(karakter("user-"+str(i+1),umur))
    karakter_info[0].append(karakter_list[i].name)
    karakter_info[1].append(karakter_list[i].age)
    karakter_info[2].append(karakter_list[i].power.atk)
    karakter_info[3].append(karakter_list[i].power.defend)
    karakter_info[4].append(karakter_list[i].power.health)
    karakter_info[5].append(karakter_list[i].power.spd)
    karakter_info[6].append(karakter_list[i].power.stamina)
    karakter_info[7].append(0)
    karakter_info[8].append(0)
    karakter_info[9].append("-")
  df = pd.DataFrame(karakter_info)
  df = df.transpose()
  df = df.set_axis(["Name", "Age", "Atk", "Def", "HP", "Spd", "Stamina", "win", "Lose", "Class"], axis=1)

def ageUp2():
  karakter_list = [karakter("user-"+str(i+1),1) for i in range(6000)]
  karakter_info = [[],[],[],[],[],[],[],[],[],[]]
  for char in karakter_list:
    karakter_info[0].append(char.name)
    karakter_info[1].append(char.age)
    karakter_info[2].append(char.power.atk)
    karakter_info[3].append(char.power.defend)
    karakter_info[4].append(char.power.health)
    karakter_info[5].append(char.power.spd)
    karakter_info[6].append(char.power.stamina)
    karakter_info[7].append(0)
    karakter_info[8].append(0)
    karakter_info[9].append("-")
  df = pd.DataFrame(karakter_info)
  df = df.transpose()
  df = df.set_axis(["Name", "Age", "Atk", "Def", "HP", "Spd", "Stamina", "win", "Lose", "Class"], axis=1)

expSize = 100

t1 = Timer("ageUp1()", "from __main__ import ageUp1")
st1 = t1.timeit(number=expSize)
print("Pertama ",st1, "milliseconds")

t2 = Timer("ageUp2()", "from __main__ import ageUp2")
print("Kedua ",t2.timeit(number=expSize), "milliseconds")

Pertama  47.24023417300123 milliseconds
Kedua  46.330779444000655 milliseconds

# **Import**

In [ ]:
import random
import pandas as pd
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report
import joblib

# **Main System**

In [ ]:
makanan = {"Rendang":[20,62], "Sate":[15,57], "Nasi Goreng":[10,52], "Steak":[22,64], "Bakwan":[5,47], "Ayam Goreng":[7,49]}

def ageUpList(karakter_list):
  for char in karakter_list:
    char.age += 1

def ageUp(karakter):
  if karakter.age < 10:
    karakter.coin += 600
  karakter.age += 1
  return karakter

def daily(karakter_list):
  for char in karakter_list:
    temp_stamina = char.power.stamina
    karakter_atk = [char2.power.atk for char2 in karakter_list]
    rerata_atk = int(sum(karakter_atk)/len(karakter_atk))
    # Di ulang terus sampai stamina habis
    while(temp_stamina > 0):

      if char.batas_hungry < 0:
        char.batas_hungry = 0
      elif char.batas_hungry < 30:
        char.batas_hungry = char.makan()
      elif char.batas_hungry > 100:
        char.batas_hungry = 100
      else:
        if char.power.stamina < 25:
          stamina = char.power.stamina
          hungry = 1
        else:
          stamina = random.randint(25, char.power.stamina)
          hungry = random.randint(10, 30)
        temp_stamina -= stamina
        char.batas_hungry -= hungry

        if char.power.atk > rerata_atk:
          kegiatan = random.randint(0, 100)
        else:
          kegiatan = random.randint(11, 100)
        # Jika umur di bawah 10 hanya latihan jika tidak random latihan atau hunt
        if char.age < 10:
          if kegiatan <= 50:
            char.latih()
          else:
            pass
        else:
          if kegiatan <= 10:
            char.boss()
          if kegiatan <= 40:
            char.latih()
          elif kegiatan <= 70:
            char.hunt()
          else:
            pass

  return karakter_list

def duel(karakterA, karakterB):
  healthA = karakterA.power.health
  healthB = karakterB.power.health

  if(karakterA.power.spd >= karakterB.power.spd):
    while(healthA > 0 and healthB > 0):
      dmg = karakterA.serang(karakterB)
      healthB -= dmg
      dmg = karakterB.serang(karakterA)
      healthA -= dmg
  else:
    while(healthA > 0 and healthB > 0):
      dmg = karakterB.serang(karakterA)
      healthA -= dmg
      dmg = karakterA.serang(karakterB)
      healthB -= dmg
      
  if(healthA <= 0):
    # print(karakterB.name+" Winner")
    # exp_duel = random.randint(30, 50)
    # ExpUp(karakterB, exp_duel)
    # exp_duel = random.randint(10, 30)
    # ExpUp(karakterA, exp_duel)
    return karakterB.name
  else:
    # print(karakterA.name+" Winner")
    # exp_duel = random.randint(30, 50)
    # ExpUp(karakterA, exp_duel)
    # exp_duel = random.randint(10, 30)
    # ExpUp(karakterB, exp_duel)
    return karakterA.name

def ExpUp(karakter, exp_new):
  karakter.power.exp += exp_new
  if karakter.power.exp >= karakter.power.batas_exp:
    levelUp(karakter)

def levelUp(karakter):

  # get new Stats
  if karakter.age < 10:
    health_new = random.randint(20, 60)
    spd_new = random.randint(1, 6)
    defend_new = random.randint(1, 10)
    atk_new = random.randint(1, 10)
    stamina_new = random.randint(0, 2)
  else:
    health_new = random.randint(50, 100)
    spd_new = random.randint(2, 14)
    defend_new = random.randint(10, 25)
    atk_new = random.randint(10, 25)
    stamina_new = random.randint(2, 14)

  # plus new Stats
  karakter.power.health += health_new
  karakter.power.spd += spd_new
  karakter.power.defend += defend_new
  karakter.power.atk += atk_new
  karakter.power.stamina += stamina_new

  karakter.level += 1
  karakter.power.batas_exp += 100
  karakter.power.exp = 0

class kekuatan:

  def __init__(self, age):
    self.atk = random.randint(1, 20)
    self.defend = random.randint(0, 20)
    self.health = random.randint(200, 1000)
    self.spd = random.randint(0, 10)
    self.exp = 0
    self.batas_exp = 100
    if age < 15:
      self.stamina = int(random.randint(25, 75) * (age - 1)/(14 - 1)) + 1
    elif age >= 15 and age <= 40 :
      self.stamina = random.randint(75, 150)
    else:
      self.stamina = int((random.randint(25, 75) / ((age - 40)/(100 - 40))) / 10)

class karakter:

  def __init__(self, name, age):
    self.name = name
    if age <= 0:
      age = 1
    elif age > 100:
      age = 100
    self.age = age
    if age < 7:
      self.sex_role = "Anak-anak"
    elif age < 15:
      self.sex_role = "Remaja"
    elif age < 25:
      self.sex_role = "Dewasa Muda"
    elif age < 40:
      self.sex_role = "Dewasa Tua"
    else:
      self.sex_role = "Lansia"
    self.power = kekuatan(age)
    self.level = 0
    self.coin = 750
    self.batas_hungry = 100
    kelamin = random.randint(0, 10)
    if kelamin < 5:
      self.sex = "Laki-laki"
    else:
      self.sex = "Perempuan"
    self.role = "Penduduk"
  
  def latih(self):
    if self.age < 10:
      exp_latihan = random.randint(2, 10)
    else:
      exp_latihan = random.randint(10, 30)
    ExpUp(self, exp_latihan)
  
  def hunt(self):
    self.coin += random.randint(50, 100)
    exp_hunt = random.randint(5, 40)
    ExpUp(self, exp_hunt)

  def boss(self):
    self.coin += random.randint(500, 700)
    exp_boss = random.randint(50, 70)
    ExpUp(self, exp_boss)

  def serang(self, musuh):
    dmg = self.power.atk*(100/(100+musuh.power.defend)) * random.uniform(0.75, 1.25)
    critical = random.randint(0, 100)
    miss = random.randint(0, 100)
    if critical <= 20:
      dmg *= 2
    if miss <= 20:
      dmg *= 0
    return dmg

  def makan(self):
    keys = list(makanan.keys())
    makan_pilihan = random.randint(0, len(keys)-1)
    if self.age > 10:
      self.batas_hungry += (makanan.get(keys[makan_pilihan])[1] - 30)
      self.coin -= (makanan.get(keys[makan_pilihan])[0] + 20)
    else:
      self.batas_hungry += makanan.get(keys[makan_pilihan])[1]
      self.coin -= makanan.get(keys[makan_pilihan])[0]
    return self.batas_hungry

  def info(self):
    print("Name : "+self.name)
    print("Age : "+str(self.age))
    print("Kelamin : "+self.sex)
    print("sex_Role : "+self.sex_role)
    print("Level : "+str(self.level))
    print("Coin : "+str(self.coin))
    print("ATK : "+str(self.power.atk))
    print("DEF : "+str(self.power.defend))
    print("SPD : "+str(self.power.spd))
    print("Health : "+str(self.power.health))
    print("Stamina : "+str(self.power.stamina))
    print("EXP : "+str(self.power.exp))
    print(" ")

# **Set People**

In [ ]:
namest = "JAMES JOHN ROBERT MICHAEL WILLIAM DAVID RICHARD CHARLES JOSEPH THOMAS CHRISTOPHER DANIEL PAUL MARK DONALD GEORGE KENNETH STEVEN EDWARD BRIAN RONALD ANTHONY KEVIN JASON MATTHEW GARY TIMOTHY JOSE LARRY JEFFREY FRANK SCOTT ERIC STEPHEN ANDREW RAYMOND GREGORY JOSHUA JERRY DENNIS WALTER PATRICK PETER HAROLD DOUGLAS HENRY CARL ARTHUR RYAN ROGER JOE JUAN JACK ALBERT JONATHAN JUSTIN TERRY GERALD KEITH SAMUEL WILLIE RALPH LAWRENCE NICHOLAS ROY BENJAMIN BRUCE BRANDON ADAM HARRY FRED WAYNE BILLY STEVE LOUIS JEREMY AARON RANDY HOWARD EUGENE CARLOS RUSSELL BOBBY VICTOR MARTIN ERNEST PHILLIP TODD JESSE CRAIG ALAN SHAWN CLARENCE SEAN PHILIP CHRIS JOHNNY EARL JIMMY ANTONIO DANNY BRYAN TONY LUIS MIKE STANLEY LEONARD NATHAN DALE MANUEL RODNEY CURTIS NORMAN ALLEN MARVIN VINCENT GLENN JEFFERY TRAVIS JEFF CHAD JACOB LEE MELVIN ALFRED KYLE FRANCIS BRADLEY JESUS HERBERT FREDERICK RAY JOEL EDWIN DON EDDIE RICKY TROY RANDALL BARRY ALEXANDER BERNARD MARIO LEROY FRANCISCO MARCUS MICHEAL THEODORE CLIFFORD MIGUEL OSCAR JAY JIM TOM CALVIN ALEX JON RONNIE BILL LLOYD TOMMY LEON DEREK WARREN DARRELL JEROME FLOYD LEO ALVIN TIM WESLEY GORDON DEAN GREG JORGE DUSTIN PEDRO DERRICK DAN LEWIS ZACHARY COREY HERMAN MAURICE VERNON ROBERTO CLYDE GLEN HECTOR SHANE RICARDO SAM RICK LESTER BRENT RAMON CHARLIE TYLER GILBERT GENE MARC REGINALD RUBEN BRETT ANGEL NATHANIEL RAFAEL LESLIE EDGAR MILTON RAUL BEN CHESTER CECIL DUANE FRANKLIN ANDRE ELMER BRAD GABRIEL RON MITCHELL ROLAND ARNOLD HARVEY JARED ADRIAN KARL CORY CLAUDE ERIK DARRYL JAMIE NEIL JESSIE CHRISTIAN JAVIER FERNANDO CLINTON TED MATHEW TYRONE DARREN LONNIE LANCE CODY JULIO KELLY KURT ALLAN NELSON GUY CLAYTON HUGH MAX DWAYNE DWIGHT ARMANDO FELIX JIMMIE EVERETT JORDAN IAN WALLACE KEN BOB JAIME CASEY ALFREDO ALBERTO DAVE IVAN JOHNNIE SIDNEY BYRON JULIAN ISAAC MORRIS CLIFTON WILLARD DARYL ROSS VIRGIL ANDY MARSHALL SALVADOR PERRY KIRK SERGIO MARION TRACY SETH KENT TERRANCE RENE EDUARDO TERRENCE ENRIQUE FREDDIE WADE AUSTIN STUART FREDRICK ARTURO ALEJANDRO JACKIE JOEY NICK LUTHER WENDELL JEREMIAH EVAN JULIUS DANA DONNIE OTIS SHANNON TREVOR OLIVER LUKE HOMER GERARD DOUG KENNY HUBERT ANGELO SHAUN LYLE MATT LYNN ALFONSO ORLANDO REX CARLTON ERNESTO CAMERON NEAL PABLO LORENZO OMAR WILBUR BLAKE GRANT HORACE RODERICK KERRY ABRAHAM WILLIS RICKEY JEAN IRA ANDRES CESAR JOHNATHAN MALCOLM RUDOLPH DAMON KELVIN RUDY PRESTON ALTON ARCHIE MARCO WM PETE RANDOLPH GARRY GEOFFREY JONATHON FELIPE BENNIE GERARDO ED DOMINIC ROBIN LOREN DELBERT COLIN GUILLERMO EARNEST LUCAS BENNY NOEL SPENCER RODOLFO MYRON EDMUND GARRETT SALVATORE CEDRIC LOWELL GREGG SHERMAN WILSON DEVIN SYLVESTER KIM ROOSEVELT ISRAEL JERMAINE FORREST WILBERT LELAND SIMON GUADALUPE CLARK IRVING CARROLL BRYANT OWEN RUFUS WOODROW SAMMY KRISTOPHER MACK LEVI MARCOS GUSTAVO JAKE LIONEL MARTY TAYLOR ELLIS DALLAS GILBERTO CLINT NICOLAS LAURENCE ISMAEL ORVILLE DREW JODY ERVIN DEWEY AL WILFRED JOSH HUGO IGNACIO CALEB TOMAS SHELDON ERICK FRANKIE STEWART DOYLE DARREL ROGELIO TERENCE SANTIAGO ALONZO ELIAS BERT ELBERT RAMIRO CONRAD PAT NOAH GRADY PHIL CORNELIUS LAMAR ROLANDO CLAY PERCY DEXTER BRADFORD MERLE DARIN AMOS TERRELL MOSES IRVIN SAUL ROMAN DARNELL RANDAL TOMMIE TIMMY DARRIN WINSTON BRENDAN TOBY VAN ABEL DOMINICK BOYD COURTNEY JAN EMILIO ELIJAH CARY DOMINGO SANTOS AUBREY EMMETT MARLON EMANUEL JERALD EDMOND EMIL DEWAYNE WILL OTTO TEDDY REYNALDO BRET MORGAN JESS TRENT HUMBERTO EMMANUEL STEPHAN LOUIE VICENTE LAMONT STACY GARLAND MILES MICAH EFRAIN BILLIE LOGAN HEATH RODGER HARLEY DEMETRIUS ETHAN ELDON ROCKY PIERRE JUNIOR FREDDY ELI BRYCE ANTOINE ROBBIE KENDALL ROYCE STERLING MICKEY CHASE GROVER ELTON CLEVELAND DYLAN CHUCK DAMIAN REUBEN STAN AUGUST LEONARDO JASPER RUSSEL ERWIN BENITO HANS MONTE BLAINE ERNIE CURT QUENTIN AGUSTIN MURRAY JAMAL DEVON ADOLFO HARRISON TYSON BURTON BRADY ELLIOTT WILFREDO BART JARROD VANCE DENIS DAMIEN JOAQUIN HARLAN DESMOND ELLIOT DARWIN ASHLEY GREGORIO BUDDY XAVIER KERMIT ROSCOE ESTEBAN ANTON SOLOMON SCOTTY NORBERT ELVIN WILLIAMS NOLAN CAREY ROD QUINTON HAL BRAIN ROB ELWOOD KENDRICK DARIUS MOISES SON MARLIN FIDEL THADDEUS CLIFF MARCEL ALI JACKSON RAPHAEL BRYON ARMAND ALVARO JEFFRY DANE JOESPH THURMAN NED SAMMIE RUSTY MICHEL MONTY RORY FABIAN REGGIE MASON GRAHAM KRIS ISAIAH VAUGHN GUS AVERY LOYD DIEGO ALEXIS ADOLPH NORRIS MILLARD ROCCO GONZALO DERICK RODRIGO GERRY STACEY CARMEN WILEY RIGOBERTO ALPHONSO TY SHELBY RICKIE NOE VERN BOBBIE REED JEFFERSON ELVIS BERNARDO MAURICIO HIRAM DONOVAN BASIL RILEY OLLIE NICKOLAS MAYNARD SCOT VINCE QUINCY EDDY SEBASTIAN FEDERICO ULYSSES HERIBERTO DONNELL COLE DENNY DAVIS GAVIN EMERY WARD ROMEO JAYSON DION DANTE CLEMENT COY ODELL MAXWELL JARVIS BRUNO ISSAC MARY DUDLEY BROCK SANFORD COLBY CARMELO BARNEY NESTOR HOLLIS STEFAN DONNY ART LINWOOD BEAU WELDON GALEN ISIDRO TRUMAN DELMAR JOHNATHON SILAS FREDERIC DICK KIRBY IRWIN CRUZ MERLIN MERRILL CHARLEY MARCELINO LANE HARRIS CLEO CARLO TRENTON KURTIS HUNTER AURELIO WINFRED VITO COLLIN DENVER CARTER LEONEL EMORY PASQUALE MOHAMMAD MARIANO DANIAL BLAIR LANDON DIRK BRANDEN ADAN NUMBERS CLAIR BUFORD GERMAN BERNIE WILMER JOAN EMERSON ZACHERY FLETCHER JACQUES ERROL DALTON MONROE JOSUE DOMINIQUE EDWARDO BOOKER WILFORD SONNY SHELTON CARSON THERON RAYMUNDO DAREN TRISTAN HOUSTON ROBBY LINCOLN JAME GENARO GALE BENNETT OCTAVIO CORNELL LAVERNE HUNG ARRON ANTONY HERSCHEL ALVA GIOVANNI GARTH CYRUS CYRIL RONNY STEVIE LON FREEMAN ERIN DUNCAN KENNITH CARMINE AUGUSTINE YOUNG ERICH CHADWICK WILBURN RUSS REID MYLES ANDERSON MORTON JONAS FOREST MITCHEL MERVIN ZANE RICH JAMEL LAZARO ALPHONSE RANDELL MAJOR JOHNIE JARRETT BROOKS ARIEL ABDUL DUSTY LUCIANO LINDSEY TRACEY SEYMOUR SCOTTIE EUGENIO MOHAMMED SANDY VALENTIN CHANCE ARNULFO LUCIEN FERDINAND THAD EZRA SYDNEY ALDO RUBIN ROYAL MITCH EARLE ABE WYATT MARQUIS LANNY KAREEM JAMAR BORIS ISIAH EMILE ELMO ARON LEOPOLDO EVERETTE JOSEF GAIL ELOY DORIAN RODRICK REINALDO LUCIO JERROD WESTON HERSHEL BARTON PARKER LEMUEL LAVERN BURT JULES GIL ELISEO AHMAD NIGEL EFREN ANTWAN ALDEN MARGARITO COLEMAN REFUGIO DINO OSVALDO LES DEANDRE NORMAND KIETH IVORY ANDREA TREY NORBERTO NAPOLEON JEROLD FRITZ ROSENDO MILFORD SANG DEON CHRISTOPER ALFONZO LYMAN JOSIAH BRANT WILTON RICO JAMAAL DEWITT CAROL BRENTON YONG OLIN FOSTER FAUSTINO CLAUDIO JUDSON GINO EDGARDO BERRY ALEC TANNER JARRED DONN TRINIDAD TAD SHIRLEY PRINCE PORFIRIO ODIS MARIA LENARD CHAUNCEY CHANG TOD MEL MARCELO KORY AUGUSTUS KEVEN HILARIO BUD SAL ROSARIO ORVAL MAURO DANNIE ZACHARIAH OLEN ANIBAL MILO JED FRANCES THANH DILLON AMADO NEWTON CONNIE LENNY TORY RICHIE LUPE HORACIO BRICE MOHAMED DELMER DARIO REYES DEE MAC JONAH JERROLD ROBT HANK SUNG RUPERT ROLLAND KENTON DAMION CHI ANTONE WALDO FREDRIC BRADLY QUINN KIP BURL WALKER TYREE JEFFEREY AHMED"
names_list = namest.split()
names = [name.title() for name in names_list]

In [ ]:
karakter_list = []
karakter_info = [[],[],[],[],[],[],[],[],[],[],[],[]]
n = 1000
for i in range(n):
  if i < int(n/2):
    umur = random.randint(15, 40)
  else:
    umur = random.randint(1, 99)
  karakter_list.append(karakter(names[i],umur))
  karakter_info[0].append(karakter_list[i].name)
  karakter_info[1].append(karakter_list[i].age)
  karakter_info[2].append(karakter_list[i].power.atk)
  karakter_info[3].append(karakter_list[i].power.defend)
  karakter_info[4].append(karakter_list[i].power.health)
  karakter_info[5].append(karakter_list[i].power.spd)
  karakter_info[6].append(karakter_list[i].power.stamina)
  karakter_info[7].append(0)
  karakter_info[8].append(0)
  karakter_info[9].append(karakter_list[i].sex)
  karakter_info[10].append(karakter_list[i].sex_role)
  karakter_info[11].append(karakter_list[i].role)
df = pd.DataFrame(karakter_info)
df = df.transpose()
df = df.set_axis(["Name", "Age", "Atk", "Def", "HP", "Spd", "Stamina", "win", "Lose", "Kelamin", "Kategori", "Role"], axis=1)
df

         Name Age Atk Def   HP  ... win Lose    Kelamin     Kategori      Role
0       James  39   5  18  969  ...   0    0  Laki-laki   Dewasa Tua  Penduduk
1        John  27   6   3  796  ...   0    0  Perempuan   Dewasa Tua  Penduduk
2      Robert  31  20  12  772  ...   0    0  Perempuan   Dewasa Tua  Penduduk
3     Michael  36   2   9  978  ...   0    0  Laki-laki   Dewasa Tua  Penduduk
4     William  22  18   7  829  ...   0    0  Perempuan  Dewasa Muda  Penduduk
..        ...  ..  ..  ..  ...  ...  ..  ...        ...          ...       ...
995      Burl  55  13  10  604  ...   0    0  Laki-laki       Lansia  Penduduk
996    Walker  99   2   6  606  ...   0    0  Perempuan       Lansia  Penduduk
997     Tyree  35  16   2  338  ...   0    0  Laki-laki   Dewasa Tua  Penduduk
998  Jefferey  45   6  14  535  ...   0    0  Perempuan       Lansia  Penduduk
999     Ahmed  76   9  16  411  ...   0    0  Laki-laki       Lansia  Penduduk

[1000 rows x 12 columns]

# **Set Roles**

In [ ]:
df_temp = df.copy().drop(["Name", "win", "Lose", "Kelamin", "Kategori", "Role"], axis = 1)
d = preprocessing.normalize(df_temp, axis=0)
df_normal = pd.DataFrame(d, columns=["Age","Atk","Def","HP","Spd","Stamina"])

new_model = joblib.load('svm_first_model.sav')

hasil = new_model.predict(df_normal)

df["Role"] = hasil
df["Role"] = df["Role"].replace({0:"Penduduk", 1:"Fighter"})
df

         Name Age Atk Def   HP  ... win Lose    Kelamin     Kategori     Role
0       James  39   5  18  969  ...   0    0  Laki-laki   Dewasa Tua  Fighter
1        John  27   6   3  796  ...   0    0  Perempuan   Dewasa Tua  Fighter
2      Robert  31  20  12  772  ...   0    0  Perempuan   Dewasa Tua  Fighter
3     Michael  36   2   9  978  ...   0    0  Laki-laki   Dewasa Tua  Fighter
4     William  22  18   7  829  ...   0    0  Perempuan  Dewasa Muda  Fighter
..        ...  ..  ..  ..  ...  ...  ..  ...        ...          ...      ...
995      Burl  55  13  10  604  ...   0    0  Laki-laki       Lansia  Fighter
996    Walker  99   2   6  606  ...   0    0  Perempuan       Lansia  Fighter
997     Tyree  35  16   2  338  ...   0    0  Laki-laki   Dewasa Tua  Fighter
998  Jefferey  45   6  14  535  ...   0    0  Perempuan       Lansia  Fighter
999     Ahmed  76   9  16  411  ...   0    0  Laki-laki       Lansia  Fighter

[1000 rows x 12 columns]

In [ ]:
df_temp = df.loc[df["Role"] == "Fighter"]
for idx in df_temp.index:
  karakter_list[idx].role = "Fighter"

# **Set King / Queen**

In [ ]:
# 1000 orang
# 200x Duel

def GetBestPerson(df_duel_temp):

  df_duel = df_duel_temp.loc[df_duel_temp["Age"] >= 10]
  df_duel.reset_index()
  lis_temp = list(df_duel["Name"])
  karakter_list_duel = [char for char in karakter_list if char.name in lis_temp]
  # for char in karakter_list:
  #   if char.name in lis_temp:
  #     karakter_list_duel.append(char)

  for j in range(200):
    random.shuffle(karakter_list_duel)
    for i in range(0,len(karakter_list_duel),2):
      if(i+1 != len(karakter_list_duel)):
        win_name = duel(karakter_list_duel[i],karakter_list_duel[i+1])
        if karakter_list_duel[i].name == win_name:
          lose_name = karakter_list_duel[i+1].name
        else:
          lose_name = karakter_list_duel[i].name

        idx = df_duel[df_duel['Name']==win_name].index.values
        df_duel.at[idx[0],'win'] += 1

        idx = df_duel[df_duel['Name']==lose_name].index.values
        df_duel.at[idx[0],'Lose'] += 1
  
  return df_duel

In [ ]:
df_hasil = GetBestPerson(df.copy())

In [ ]:
df_hasil.sort_values("win")

        Name Age Atk Def   HP  ...  win Lose    Kelamin     Kategori      Role
256   Dwight  24   1  16  322  ...    0  199  Perempuan  Dewasa Muda  Penduduk
579   Harlan  52   1  10  209  ...    0  200  Laki-laki       Lansia  Penduduk
474    Roman  24   1   2  204  ...    0  200  Perempuan  Dewasa Muda  Penduduk
101    Bryan  30   1  14  233  ...    0  200  Laki-laki   Dewasa Tua  Penduduk
483      Van  15   1  13  201  ...    0  199  Laki-laki  Dewasa Muda  Penduduk
..       ...  ..  ..  ..  ...  ...  ...  ...        ...          ...       ...
747    Blair  43  18  15  984  ...  198    2  Laki-laki       Lansia   Fighter
415     Levi  22  19  17  991  ...  198    2  Perempuan  Dewasa Muda   Fighter
879   Lavern  43  20   9  992  ...  199    0  Perempuan       Lansia   Fighter
291     Seth  26  20  17  961  ...  199    1  Perempuan   Dewasa Tua   Fighter
141  Bernard  16  20   6  896  ...  200    0  Laki-laki  Dewasa Muda   Fighter

[947 rows x 12 columns]

In [ ]:
df_king_1 = df_hasil.loc[df_hasil["win"] >= 100]
df_king_1.reset_index()
df_king_1

        Name Age Atk Def   HP  ...  win Lose    Kelamin     Kategori     Role
0      James  39   5  18  969  ...  101   99  Laki-laki   Dewasa Tua  Fighter
1       John  27   6   3  796  ...  100   99  Perempuan   Dewasa Tua  Fighter
2     Robert  31  20  12  772  ...  195    5  Perempuan   Dewasa Tua  Fighter
4    William  22  18   7  829  ...  188   12  Perempuan  Dewasa Muda  Fighter
5      David  19  20  12  849  ...  197    2  Laki-laki  Dewasa Muda  Fighter
..       ...  ..  ..  ..  ...  ...  ...  ...        ...          ...      ...
987   Damion  63  14   2  633  ...  146   53  Laki-laki       Lansia  Fighter
989   Antone  81  15  17  521  ...  145   55  Perempuan       Lansia  Fighter
992   Bradly  69  14   4  716  ...  148   52  Perempuan       Lansia  Fighter
995     Burl  55  13  10  604  ...  126   74  Laki-laki       Lansia  Fighter
997    Tyree  35  16   2  338  ...  105   95  Laki-laki   Dewasa Tua  Fighter

[479 rows x 12 columns]

In [ ]:
df_king_1["win"] = 0
df_king_1["Lose"] = 0
df_king_1_duel = GetBestPerson(df_king_1.copy())

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
df_king_1_duel.sort_values("win")

         Name Age Atk Def   HP  ...  win Lose    Kelamin     Kategori     Role
1        John  27   6   3  796  ...    2  197  Perempuan   Dewasa Tua  Fighter
673     Vince  24   7  18  642  ...    4  196  Perempuan  Dewasa Muda  Fighter
135     Eddie  25  17  20  252  ...    4  196  Perempuan   Dewasa Tua  Fighter
0       James  39   5  18  969  ...    5  195  Laki-laki   Dewasa Tua  Fighter
894       Les  21  20  12  239  ...    5  195  Laki-laki  Dewasa Muda  Fighter
..        ...  ..  ..  ..  ...  ...  ...  ...        ...          ...      ...
291      Seth  26  20  17  961  ...  195    5  Perempuan   Dewasa Tua  Fighter
66      Bruce  34  15  19  990  ...  196    4  Laki-laki   Dewasa Tua  Fighter
415      Levi  22  19  17  991  ...  197    1  Perempuan  Dewasa Muda  Fighter
747     Blair  43  18  15  984  ...  197    3  Laki-laki       Lansia  Fighter
838  Mohammed  86  20  20  921  ...  199    1  Laki-laki       Lansia  Fighter

[479 rows x 12 columns]

In [ ]:
df_king_2 = df_king_1_duel.loc[df_king_1_duel["win"] >= 100]
df_king_2.reset_index()
df_king_2

        Name Age Atk Def   HP  ...  win Lose    Kelamin     Kategori     Role
2     Robert  31  20  12  772  ...  185   14  Perempuan   Dewasa Tua  Fighter
4    William  22  18   7  829  ...  182   18  Perempuan  Dewasa Muda  Fighter
5      David  19  20  12  849  ...  187   11  Laki-laki  Dewasa Muda  Fighter
9     Thomas  34  19  17  691  ...  170   30  Laki-laki   Dewasa Tua  Fighter
14    Donald  15  10   8  889  ...  107   92  Laki-laki  Dewasa Muda  Fighter
..       ...  ..  ..  ..  ...  ...  ...  ...        ...          ...      ...
966   Connie  57  19  12  537  ...  117   82  Laki-laki       Lansia  Fighter
978      Mac  15  20   4  562  ...  129   70  Laki-laki  Dewasa Muda  Fighter
984   Rupert  73  11  13  946  ...  130   70  Perempuan       Lansia  Fighter
985  Rolland  11  16  11  834  ...  166   34  Perempuan       Remaja  Fighter
986   Kenton  72  11  18  881  ...  125   75  Laki-laki       Lansia  Fighter

[239 rows x 12 columns]

In [ ]:
df_king_2["win"] = 0
df_king_2["Lose"] = 0
df_king_2_duel = GetBestPerson(df_king_2.copy())

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
df_king_2_duel.sort_values("win")

         Name Age Atk Def   HP  ...  win Lose    Kelamin     Kategori     Role
707    Stefan  87  17   5  526  ...    9  191  Laki-laki       Lansia  Fighter
14     Donald  15  10   8  889  ...    9  191  Laki-laki  Dewasa Muda  Fighter
617    Armand  69  12   1  812  ...    9  188  Perempuan       Lansia  Fighter
266     Jaime  22  12   7  768  ...   13  187  Perempuan  Dewasa Muda  Fighter
127   Bradley  29  12  12  759  ...   16  184  Perempuan   Dewasa Tua  Fighter
..        ...  ..  ..  ..  ...  ...  ...  ...        ...          ...      ...
291      Seth  26  20  17  961  ...  195    5  Perempuan   Dewasa Tua  Fighter
879    Lavern  43  20   9  992  ...  196    3  Perempuan       Lansia  Fighter
359   Preston  29  20  12  996  ...  197    2  Laki-laki   Dewasa Tua  Fighter
415      Levi  22  19  17  991  ...  197    3  Perempuan  Dewasa Muda  Fighter
838  Mohammed  86  20  20  921  ...  199    1  Laki-laki       Lansia  Fighter

[239 rows x 12 columns]

In [ ]:
df_king_3 = df_king_2_duel.loc[df_king_2_duel["win"] >= 100]
df_king_3.reset_index()
df_king_3

        Name Age Atk Def   HP  ...  win Lose    Kelamin     Kategori     Role
2     Robert  31  20  12  772  ...  172   27  Perempuan   Dewasa Tua  Fighter
4    William  22  18   7  829  ...  148   51  Perempuan  Dewasa Muda  Fighter
5      David  19  20  12  849  ...  187   12  Laki-laki  Dewasa Muda  Fighter
9     Thomas  34  19  17  691  ...  139   60  Laki-laki   Dewasa Tua  Fighter
17    Steven  38  20   7  661  ...  124   76  Perempuan   Dewasa Tua  Fighter
..       ...  ..  ..  ..  ...  ...  ...  ...        ...          ...      ...
936   Prince  19  17   3  939  ...  159   40  Laki-laki  Dewasa Muda  Fighter
939    Maria  13  16  19  818  ...  153   47  Laki-laki       Remaja  Fighter
946     Kory  48  19   9  895  ...  178   22  Perempuan       Lansia  Fighter
950      Bud  56  14  11  925  ...  124   76  Laki-laki       Lansia  Fighter
985  Rolland  11  16  11  834  ...  125   72  Perempuan       Remaja  Fighter

[114 rows x 12 columns]

In [ ]:
df_king_3["win"] = 0
df_king_3["Lose"] = 0
df_king_3_duel = GetBestPerson(df_king_3.copy())

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
df_king_3_duel.sort_values("win")

         Name Age Atk Def   HP  ...  win Lose    Kelamin     Kategori     Role
365  Randolph  36  15  13  776  ...   18  182  Perempuan   Dewasa Tua  Fighter
149    Miguel  30  20   5  627  ...   20  180  Laki-laki   Dewasa Tua  Fighter
494    Aubrey  35  17   9  701  ...   23  177  Perempuan   Dewasa Tua  Fighter
267     Casey  16  17   0  793  ...   34  166  Perempuan  Dewasa Muda  Fighter
284  Marshall  39  20   7  635  ...   37  163  Laki-laki   Dewasa Tua  Fighter
..        ...  ..  ..  ..  ...  ...  ...  ...        ...          ...      ...
106   Leonard  18  20   6  997  ...  184   16  Laki-laki  Dewasa Muda  Fighter
415      Levi  22  19  17  991  ...  187   13  Perempuan  Dewasa Muda  Fighter
879    Lavern  43  20   9  992  ...  189   11  Perempuan       Lansia  Fighter
359   Preston  29  20  12  996  ...  191    9  Laki-laki   Dewasa Tua  Fighter
291      Seth  26  20  17  961  ...  197    3  Perempuan   Dewasa Tua  Fighter

[114 rows x 12 columns]

In [ ]:
df_king_4 = df_king_3_duel.loc[df_king_3_duel["win"] >= 100]
df_king_4.reset_index()
df_king_4

          Name Age Atk Def    HP  ...  win Lose    Kelamin     Kategori     Role
2       Robert  31  20  12   772  ...  130   70  Perempuan   Dewasa Tua  Fighter
4      William  22  18   7   829  ...  103   97  Perempuan  Dewasa Muda  Fighter
5        David  19  20  12   849  ...  163   37  Laki-laki  Dewasa Muda  Fighter
29     Jeffrey  31  17  11   952  ...  154   46  Perempuan   Dewasa Tua  Fighter
39      Dennis  28  19  13   832  ...  143   57  Laki-laki   Dewasa Tua  Fighter
44     Douglas  20  17  11   958  ...  148   52  Laki-laki  Dewasa Muda  Fighter
65    Benjamin  26  18   6   899  ...  122   78  Laki-laki   Dewasa Tua  Fighter
66       Bruce  34  15  19   990  ...  149   51  Laki-laki   Dewasa Tua  Fighter
106    Leonard  18  20   6   997  ...  184   16  Laki-laki  Dewasa Muda  Fighter
141    Bernard  16  20   6   896  ...  164   36  Laki-laki  Dewasa Muda  Fighter
153        Tom  40  18  12   959  ...  173   27  Perempuan       Lansia  Fighter
174      Jorge  38  20  11   824  ...  148   52  Laki-laki   Dewasa Tua  Fighter
209     Milton  21  18   4   979  ...  142   58  Laki-laki  Dewasa Muda  Fighter
221   Mitchell  36  18   4   885  ...  108   92  Laki-laki   Dewasa Tua  Fighter
234     Jessie  27  19  13   945  ...  168   32  Perempuan   Dewasa Tua  Fighter
235  Christian  20  20   7   853  ...  154   46  Perempuan  Dewasa Muda  Fighter
261     Jordan  25  20  13   759  ...  139   61  Laki-laki   Dewasa Tua  Fighter
262        Ian  19  17   5   954  ...  121   79  Perempuan  Dewasa Muda  Fighter
279    Willard  26  19  13   760  ...  126   74  Perempuan   Dewasa Tua  Fighter
291       Seth  26  20  17   961  ...  197    3  Perempuan   Dewasa Tua  Fighter
301     Stuart  17  18   4   994  ...  166   34  Perempuan  Dewasa Muda  Fighter
318     Oliver  40  15  11   979  ...  112   88  Laki-laki       Lansia  Fighter
341      Blake  34  18   4   980  ...  154   46  Laki-laki   Dewasa Tua  Fighter
358       Rudy  27  20  12   875  ...  163   37  Perempuan   Dewasa Tua  Fighter
359    Preston  29  20  12   996  ...  191    9  Laki-laki   Dewasa Tua  Fighter
382       Noel  21  16  20   836  ...  109   91  Laki-laki  Dewasa Muda  Fighter
384    Rodolfo  34  19   6   797  ...  105   95  Laki-laki   Dewasa Tua  Fighter
403      Simon  22  19   5   932  ...  156   44  Laki-laki  Dewasa Muda  Fighter
415       Levi  22  19  17   991  ...  187   13  Perempuan  Dewasa Muda  Fighter
456        Pat  33  20  16   694  ...  104   96  Perempuan   Dewasa Tua  Fighter
485   Dominick  18  16   4   997  ...  115   85  Perempuan  Dewasa Muda  Fighter
491       Cary  28  17   8   893  ...  113   87  Laki-laki   Dewasa Tua  Fighter
506       Bret  29  16  20   901  ...  121   79  Laki-laki   Dewasa Tua  Fighter
521     Billie  70  20   4   875  ...  148   52  Laki-laki       Lansia  Fighter
619     Jeffry  83  17   3   991  ...  145   55  Perempuan       Lansia  Fighter
627      Monty  73  19  16   826  ...  139   61  Laki-laki       Lansia  Fighter
629     Fabian  12  18  10   849  ...  125   75  Perempuan       Remaja  Fighter
631      Mason  47  16  15   883  ...  110   90  Laki-laki       Lansia  Fighter
633       Kris  42  20  12   728  ...  100  100  Laki-laki       Lansia  Fighter
643    Millard  64  17   9   921  ...  140   60  Perempuan       Lansia  Fighter
674     Quincy  75  17   9  1000  ...  151   49  Laki-laki       Lansia  Fighter
679  Heriberto  54  18  14   968  ...  171   29  Perempuan       Lansia  Fighter
747      Blair  43  18  15   984  ...  178   22  Laki-laki       Lansia  Fighter
750    Branden  80  20   7   870  ...  159   41  Perempuan       Lansia  Fighter
788       Hung  15  20  20   681  ...  102   98  Perempuan  Dewasa Muda  Fighter
822     Lazaro  16  18  17   866  ...  148   52  Perempuan  Dewasa Muda  Fighter
824    Randell  77  20   8   824  ...  147   53  Laki-laki       Lansia  Fighter
838   Mohammed  86  20  20   921  ...  182   18  Laki-laki       Lansia  Fighter
848       Aldo  86  18  20   805  ...  142   58  Perempuan       Lansia  Fighter
879     Lavern  43  20   9   992  ...  189   11  Perempuan       Lansia  Fighter
903     Jerold  12  18  12   806  ...  112   88  Laki-laki       Remaja  Fighter
905    Rosendo  48  15  15   949  ...  111   89  Perempuan       Lansia  Fighter
936     Prince  19  17   3   939  ...  129   71  Laki-laki  Dewasa Muda  Fighter
939      Maria  13  16  19   818  ...  100  100  Laki-laki       Remaja  Fighter
946       Kory  48  19   9   895  ...  154   46  Perempuan       Lansia  Fighter

[55 rows x 12 columns]

In [ ]:
df_king_4["win"] = 0
df_king_4["Lose"] = 0
df_king_4_duel = GetBestPerson(df_king_4.copy())

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
df_king_4_duel.sort_values("win")

          Name Age Atk Def    HP  ...  win Lose    Kelamin     Kategori     Role
939      Maria  13  16  19   818  ...   34  165  Laki-laki       Remaja  Fighter
382       Noel  21  16  20   836  ...   39  157  Laki-laki  Dewasa Muda  Fighter
384    Rodolfo  34  19   6   797  ...   44  150  Laki-laki   Dewasa Tua  Fighter
903     Jerold  12  18  12   806  ...   46  150  Laki-laki       Remaja  Fighter
456        Pat  33  20  16   694  ...   47  148  Perempuan   Dewasa Tua  Fighter
4      William  22  18   7   829  ...   48  148  Perempuan  Dewasa Muda  Fighter
936     Prince  19  17   3   939  ...   51  148  Laki-laki  Dewasa Muda  Fighter
905    Rosendo  48  15  15   949  ...   52  145  Perempuan       Lansia  Fighter
631      Mason  47  16  15   883  ...   53  144  Laki-laki       Lansia  Fighter
788       Hung  15  20  20   681  ...   54  143  Perempuan  Dewasa Muda  Fighter
279    Willard  26  19  13   760  ...   58  137  Perempuan   Dewasa Tua  Fighter
491       Cary  28  17   8   893  ...   59  137  Laki-laki   Dewasa Tua  Fighter
318     Oliver  40  15  11   979  ...   59  138  Laki-laki       Lansia  Fighter
221   Mitchell  36  18   4   885  ...   61  133  Laki-laki   Dewasa Tua  Fighter
485   Dominick  18  16   4   997  ...   62  137  Perempuan  Dewasa Muda  Fighter
633       Kris  42  20  12   728  ...   62  134  Laki-laki       Lansia  Fighter
65    Benjamin  26  18   6   899  ...   65  132  Laki-laki   Dewasa Tua  Fighter
629     Fabian  12  18  10   849  ...   68  125  Perempuan       Remaja  Fighter
261     Jordan  25  20  13   759  ...   70  123  Laki-laki   Dewasa Tua  Fighter
262        Ian  19  17   5   954  ...   73  124  Perempuan  Dewasa Muda  Fighter
66       Bruce  34  15  19   990  ...   77  121  Laki-laki   Dewasa Tua  Fighter
643    Millard  64  17   9   921  ...   79  115  Perempuan       Lansia  Fighter
2       Robert  31  20  12   772  ...   80  118  Perempuan   Dewasa Tua  Fighter
619     Jeffry  83  17   3   991  ...   86  114  Perempuan       Lansia  Fighter
44     Douglas  20  17  11   958  ...   86  107  Laki-laki  Dewasa Muda  Fighter
506       Bret  29  16  20   901  ...   88  109  Laki-laki   Dewasa Tua  Fighter
848       Aldo  86  18  20   805  ...   92  105  Perempuan       Lansia  Fighter
521     Billie  70  20   4   875  ...   95   98  Laki-laki       Lansia  Fighter
174      Jorge  38  20  11   824  ...   99  100  Laki-laki   Dewasa Tua  Fighter
824    Randell  77  20   8   824  ...  101   96  Laki-laki       Lansia  Fighter
627      Monty  73  19  16   826  ...  102   94  Laki-laki       Lansia  Fighter
39      Dennis  28  19  13   832  ...  107   90  Laki-laki   Dewasa Tua  Fighter
209     Milton  21  18   4   979  ...  108   86  Laki-laki  Dewasa Muda  Fighter
674     Quincy  75  17   9  1000  ...  108   88  Laki-laki       Lansia  Fighter
235  Christian  20  20   7   853  ...  109   89  Perempuan  Dewasa Muda  Fighter
29     Jeffrey  31  17  11   952  ...  111   87  Perempuan   Dewasa Tua  Fighter
822     Lazaro  16  18  17   866  ...  116   80  Perempuan  Dewasa Muda  Fighter
403      Simon  22  19   5   932  ...  117   80  Laki-laki  Dewasa Muda  Fighter
341      Blake  34  18   4   980  ...  117   78  Laki-laki   Dewasa Tua  Fighter
141    Bernard  16  20   6   896  ...  119   77  Laki-laki  Dewasa Muda  Fighter
301     Stuart  17  18   4   994  ...  120   72  Perempuan  Dewasa Muda  Fighter
750    Branden  80  20   7   870  ...  123   72  Perempuan       Lansia  Fighter
5        David  19  20  12   849  ...  123   74  Laki-laki  Dewasa Muda  Fighter
946       Kory  48  19   9   895  ...  131   63  Perempuan       Lansia  Fighter
153        Tom  40  18  12   959  ...  138   60  Perempuan       Lansia  Fighter
679  Heriberto  54  18  14   968  ...  139   59  Perempuan       Lansia  Fighter
358       Rudy  27  20  12   875  ...  146   53  Perempuan   Dewasa Tua  Fighter
747      Blair  43  18  15   984  ...  155   43  Laki-laki       Lansia  Fighter
234     Jessie  27  19  13   945  ...  158   41  Perempuan   Dewasa Tua  Fighter
106    Leonard  18  20   6   997  ...  171   26  Laki-laki  Dewasa Muda  Fighter
838   Mohammed  86  20  20   921  ...  172   25  Laki-laki       Lansia  Fighter
879     Lavern  43  20   9   992  ...  175   21  Perempuan       Lansia  Fighter
415       Levi  22  19  17   991  ...  182   15  Perempuan  Dewasa Muda  Fighter
359    Preston  29  20  12   996  ...  182   15  Laki-laki   Dewasa Tua  Fighter
291       Seth  26  20  17   961  ...  183   11  Perempuan   Dewasa Tua  Fighter

[55 rows x 12 columns]

In [ ]:
df_king_5 = df_king_4_duel.loc[df_king_4_duel["win"] >= 100]
df_king_5.reset_index()
df_king_5

          Name Age Atk Def    HP  ...  win Lose    Kelamin     Kategori     Role
5        David  19  20  12   849  ...  123   74  Laki-laki  Dewasa Muda  Fighter
29     Jeffrey  31  17  11   952  ...  111   87  Perempuan   Dewasa Tua  Fighter
39      Dennis  28  19  13   832  ...  107   90  Laki-laki   Dewasa Tua  Fighter
106    Leonard  18  20   6   997  ...  171   26  Laki-laki  Dewasa Muda  Fighter
141    Bernard  16  20   6   896  ...  119   77  Laki-laki  Dewasa Muda  Fighter
153        Tom  40  18  12   959  ...  138   60  Perempuan       Lansia  Fighter
209     Milton  21  18   4   979  ...  108   86  Laki-laki  Dewasa Muda  Fighter
234     Jessie  27  19  13   945  ...  158   41  Perempuan   Dewasa Tua  Fighter
235  Christian  20  20   7   853  ...  109   89  Perempuan  Dewasa Muda  Fighter
291       Seth  26  20  17   961  ...  183   11  Perempuan   Dewasa Tua  Fighter
301     Stuart  17  18   4   994  ...  120   72  Perempuan  Dewasa Muda  Fighter
341      Blake  34  18   4   980  ...  117   78  Laki-laki   Dewasa Tua  Fighter
358       Rudy  27  20  12   875  ...  146   53  Perempuan   Dewasa Tua  Fighter
359    Preston  29  20  12   996  ...  182   15  Laki-laki   Dewasa Tua  Fighter
403      Simon  22  19   5   932  ...  117   80  Laki-laki  Dewasa Muda  Fighter
415       Levi  22  19  17   991  ...  182   15  Perempuan  Dewasa Muda  Fighter
627      Monty  73  19  16   826  ...  102   94  Laki-laki       Lansia  Fighter
674     Quincy  75  17   9  1000  ...  108   88  Laki-laki       Lansia  Fighter
679  Heriberto  54  18  14   968  ...  139   59  Perempuan       Lansia  Fighter
747      Blair  43  18  15   984  ...  155   43  Laki-laki       Lansia  Fighter
750    Branden  80  20   7   870  ...  123   72  Perempuan       Lansia  Fighter
822     Lazaro  16  18  17   866  ...  116   80  Perempuan  Dewasa Muda  Fighter
824    Randell  77  20   8   824  ...  101   96  Laki-laki       Lansia  Fighter
838   Mohammed  86  20  20   921  ...  172   25  Laki-laki       Lansia  Fighter
879     Lavern  43  20   9   992  ...  175   21  Perempuan       Lansia  Fighter
946       Kory  48  19   9   895  ...  131   63  Perempuan       Lansia  Fighter

[26 rows x 12 columns]

In [ ]:
idxs = df_king_5.index
for i in idxs:
  karakter_list[i].role = "Prajurit"
  df['Role'][i] = "Prajurit"

In [ ]:
df_king_5["win"] = 0
df_king_5["Lose"] = 0
df_king_5_duel = GetBestPerson(df_king_5.copy())

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
df_king_5_duel.sort_values("win")

          Name Age Atk Def    HP  ...  win Lose    Kelamin     Kategori     Role
824    Randell  77  20   8   824  ...   43  157  Laki-laki       Lansia  Fighter
29     Jeffrey  31  17  11   952  ...   52  148  Perempuan   Dewasa Tua  Fighter
39      Dennis  28  19  13   832  ...   52  148  Laki-laki   Dewasa Tua  Fighter
822     Lazaro  16  18  17   866  ...   61  139  Perempuan  Dewasa Muda  Fighter
209     Milton  21  18   4   979  ...   61  139  Laki-laki  Dewasa Muda  Fighter
674     Quincy  75  17   9  1000  ...   62  138  Laki-laki       Lansia  Fighter
627      Monty  73  19  16   826  ...   68  132  Laki-laki       Lansia  Fighter
341      Blake  34  18   4   980  ...   68  132  Laki-laki   Dewasa Tua  Fighter
301     Stuart  17  18   4   994  ...   71  129  Perempuan  Dewasa Muda  Fighter
946       Kory  48  19   9   895  ...   75  125  Perempuan       Lansia  Fighter
750    Branden  80  20   7   870  ...   77  123  Perempuan       Lansia  Fighter
235  Christian  20  20   7   853  ...   78  122  Perempuan  Dewasa Muda  Fighter
403      Simon  22  19   5   932  ...   80  120  Laki-laki  Dewasa Muda  Fighter
5        David  19  20  12   849  ...   89  111  Laki-laki  Dewasa Muda  Fighter
141    Bernard  16  20   6   896  ...   96  104  Laki-laki  Dewasa Muda  Fighter
153        Tom  40  18  12   959  ...  108   92  Perempuan       Lansia  Fighter
358       Rudy  27  20  12   875  ...  108   92  Perempuan   Dewasa Tua  Fighter
679  Heriberto  54  18  14   968  ...  126   74  Perempuan       Lansia  Fighter
234     Jessie  27  19  13   945  ...  130   70  Perempuan   Dewasa Tua  Fighter
747      Blair  43  18  15   984  ...  132   68  Laki-laki       Lansia  Fighter
106    Leonard  18  20   6   997  ...  140   60  Laki-laki  Dewasa Muda  Fighter
879     Lavern  43  20   9   992  ...  155   45  Perempuan       Lansia  Fighter
415       Levi  22  19  17   991  ...  163   37  Perempuan  Dewasa Muda  Fighter
838   Mohammed  86  20  20   921  ...  165   35  Laki-laki       Lansia  Fighter
291       Seth  26  20  17   961  ...  170   30  Perempuan   Dewasa Tua  Fighter
359    Preston  29  20  12   996  ...  170   30  Laki-laki   Dewasa Tua  Fighter

[26 rows x 12 columns]

In [ ]:
df_king_6 = df_king_5_duel.loc[df_king_5_duel["win"] >= 100]
df_king_6.reset_index()
df_king_6

          Name Age Atk Def   HP  ...  win Lose    Kelamin     Kategori     Role
106    Leonard  18  20   6  997  ...  140   60  Laki-laki  Dewasa Muda  Fighter
153        Tom  40  18  12  959  ...  108   92  Perempuan       Lansia  Fighter
234     Jessie  27  19  13  945  ...  130   70  Perempuan   Dewasa Tua  Fighter
291       Seth  26  20  17  961  ...  170   30  Perempuan   Dewasa Tua  Fighter
358       Rudy  27  20  12  875  ...  108   92  Perempuan   Dewasa Tua  Fighter
359    Preston  29  20  12  996  ...  170   30  Laki-laki   Dewasa Tua  Fighter
415       Levi  22  19  17  991  ...  163   37  Perempuan  Dewasa Muda  Fighter
679  Heriberto  54  18  14  968  ...  126   74  Perempuan       Lansia  Fighter
747      Blair  43  18  15  984  ...  132   68  Laki-laki       Lansia  Fighter
838   Mohammed  86  20  20  921  ...  165   35  Laki-laki       Lansia  Fighter
879     Lavern  43  20   9  992  ...  155   45  Perempuan       Lansia  Fighter

[11 rows x 12 columns]

In [ ]:
df_king_6["win"] = 0
df_king_6["Lose"] = 0
df_king_6_duel = GetBestPerson(df_king_6.copy())

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
df_king_6_duel.sort_values("win")

          Name Age Atk Def   HP  ...  win Lose    Kelamin     Kategori     Role
153        Tom  40  18  12  959  ...   47  135  Perempuan       Lansia  Fighter
358       Rudy  27  20  12  875  ...   55  130  Perempuan   Dewasa Tua  Fighter
679  Heriberto  54  18  14  968  ...   56  129  Perempuan       Lansia  Fighter
747      Blair  43  18  15  984  ...   68  107  Laki-laki       Lansia  Fighter
234     Jessie  27  19  13  945  ...   74  111  Perempuan   Dewasa Tua  Fighter
106    Leonard  18  20   6  997  ...   90   89  Laki-laki  Dewasa Muda  Fighter
879     Lavern  43  20   9  992  ...   98   76  Perempuan       Lansia  Fighter
415       Levi  22  19  17  991  ...  115   64  Perempuan  Dewasa Muda  Fighter
291       Seth  26  20  17  961  ...  125   57  Perempuan   Dewasa Tua  Fighter
359    Preston  29  20  12  996  ...  136   50  Laki-laki   Dewasa Tua  Fighter
838   Mohammed  86  20  20  921  ...  136   52  Laki-laki       Lansia  Fighter

[11 rows x 12 columns]

In [ ]:
df_king_7 = df_king_6_duel.loc[df_king_6_duel["win"] >= 100]
df_king_7.reset_index()
df_king_7

         Name Age Atk Def   HP  ...  win Lose    Kelamin     Kategori     Role
291      Seth  26  20  17  961  ...  125   57  Perempuan   Dewasa Tua  Fighter
359   Preston  29  20  12  996  ...  136   50  Laki-laki   Dewasa Tua  Fighter
415      Levi  22  19  17  991  ...  115   64  Perempuan  Dewasa Muda  Fighter
838  Mohammed  86  20  20  921  ...  136   52  Laki-laki       Lansia  Fighter

[4 rows x 12 columns]

In [ ]:
idxs = df_king_7.index
for i in idxs:
  karakter_list[i].role = "Panglima"
  df['Role'][i] = "Panglima"

In [ ]:
df_king_7["win"] = 0
df_king_7["Lose"] = 0
df_king_7_duel = GetBestPerson(df_king_7.copy())

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
df_king_7_duel.sort_values("win")

         Name Age Atk Def   HP  ...  win Lose    Kelamin     Kategori     Role
415      Levi  22  19  17  991  ...   93  107  Perempuan  Dewasa Muda  Fighter
838  Mohammed  86  20  20  921  ...   98  102  Laki-laki       Lansia  Fighter
291      Seth  26  20  17  961  ...  104   96  Perempuan   Dewasa Tua  Fighter
359   Preston  29  20  12  996  ...  105   95  Laki-laki   Dewasa Tua  Fighter

[4 rows x 12 columns]

In [ ]:
if df_king_7_duel.loc[df_king_7_duel["win"] >= 100].shape[0] > 0:
  df_king_8 = df_king_7_duel.loc[df_king_7_duel["win"] >= 100]
else:
  df_king_8 = df_king_7_duel.copy()
  
df_king_8.reset_index()
df_king_8

        Name Age Atk Def   HP  ...  win Lose    Kelamin    Kategori     Role
291     Seth  26  20  17  961  ...  104   96  Perempuan  Dewasa Tua  Fighter
359  Preston  29  20  12  996  ...  105   95  Laki-laki  Dewasa Tua  Fighter

[2 rows x 12 columns]

In [ ]:
df_king_8["win"] = 0
df_king_8["Lose"] = 0
df_king_8_duel = GetBestPerson(df_king_8.copy())

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
df_king_8_duel.sort_values("win")

        Name Age Atk Def   HP  ...  win Lose    Kelamin    Kategori     Role
291     Seth  26  20  17  961  ...   99  101  Perempuan  Dewasa Tua  Fighter
359  Preston  29  20  12  996  ...  101   99  Laki-laki  Dewasa Tua  Fighter

[2 rows x 12 columns]

In [ ]:
df_king_9 = df_king_8_duel.loc[df_king_8_duel["win"] == max(df_king_8_duel["win"])]
df_king_9.reset_index()
if df_king_9.shape[0] > 1:
  df_king_9 = pd.DataFrame(df_king_9.iloc[0])
  df_king_9 = df_king_9.transpose()
df_king_9

        Name Age Atk Def   HP  ...  win Lose    Kelamin    Kategori     Role
359  Preston  29  20  12  996  ...  101   99  Laki-laki  Dewasa Tua  Fighter

[1 rows x 12 columns]

In [ ]:
idx = df_king_9.index
if karakter_list[idx[0]].sex == "Perempuan":
  karakter_list[idx[0]].role = "Queen"
  df['Role'][idx] = "Queen"
else :
  karakter_list[idx[0]].role = "King"
  df['Role'][idx] = "King"

In [ ]:
df

         Name Age Atk Def   HP  ... win Lose    Kelamin     Kategori     Role
0       James  39   5  18  969  ...   0    0  Laki-laki   Dewasa Tua  Fighter
1        John  27   6   3  796  ...   0    0  Perempuan   Dewasa Tua  Fighter
2      Robert  31  20  12  772  ...   0    0  Perempuan   Dewasa Tua  Fighter
3     Michael  36   2   9  978  ...   0    0  Laki-laki   Dewasa Tua  Fighter
4     William  22  18   7  829  ...   0    0  Perempuan  Dewasa Muda  Fighter
..        ...  ..  ..  ..  ...  ...  ..  ...        ...          ...      ...
995      Burl  55  13  10  604  ...   0    0  Laki-laki       Lansia  Fighter
996    Walker  99   2   6  606  ...   0    0  Perempuan       Lansia  Fighter
997     Tyree  35  16   2  338  ...   0    0  Laki-laki   Dewasa Tua  Fighter
998  Jefferey  45   6  14  535  ...   0    0  Perempuan       Lansia  Fighter
999     Ahmed  76   9  16  411  ...   0    0  Laki-laki       Lansia  Fighter

[1000 rows x 12 columns]

# **Tes Harian**

In [ ]:
df

         Name Age Atk Def   HP  ... win Lose    Kelamin     Kategori     Role
0       James  39   5  18  969  ...   0    0  Laki-laki   Dewasa Tua  Fighter
1        John  27   6   3  796  ...   0    0  Perempuan   Dewasa Tua  Fighter
2      Robert  31  20  12  772  ...   0    0  Perempuan   Dewasa Tua  Fighter
3     Michael  36   2   9  978  ...   0    0  Laki-laki   Dewasa Tua  Fighter
4     William  22  18   7  829  ...   0    0  Perempuan  Dewasa Muda  Fighter
..        ...  ..  ..  ..  ...  ...  ..  ...        ...          ...      ...
995      Burl  55  13  10  604  ...   0    0  Laki-laki       Lansia  Fighter
996    Walker  99   2   6  606  ...   0    0  Perempuan       Lansia  Fighter
997     Tyree  35  16   2  338  ...   0    0  Laki-laki   Dewasa Tua  Fighter
998  Jefferey  45   6  14  535  ...   0    0  Perempuan       Lansia  Fighter
999     Ahmed  76   9  16  411  ...   0    0  Laki-laki       Lansia  Fighter

[1000 rows x 12 columns]

In [ ]:
day = 1
month = 1
year = 1

while(year < 3):
  if month > 12:
    year += 1
    ageUpList(karakter_list)
    month = 1
    day = 1
  if day > 30:
    month += 1
    day = 1
  karakter_list = daily(karakter_list)
  day += 1

n = len(karakter_list)
karakter_info = [[],[],[],[],[],[],[],[],[],[],[]]

for i in range(n):
  karakter_info[0].append(karakter_list[i].name)
  karakter_info[1].append(karakter_list[i].age)
  karakter_info[2].append(karakter_list[i].power.atk)
  karakter_info[3].append(karakter_list[i].power.defend)
  karakter_info[4].append(karakter_list[i].power.health)
  karakter_info[5].append(karakter_list[i].power.spd)
  karakter_info[6].append(karakter_list[i].power.stamina)
  karakter_info[7].append(karakter_list[i].coin)
  karakter_info[8].append(karakter_list[i].sex)
  karakter_info[9].append(karakter_list[i].sex_role)
  karakter_info[10].append(karakter_list[i].role)
  
df_tes = pd.DataFrame(karakter_info)
df_tes = df_tes.transpose()
df_tes = df_tes.set_axis(["Name", "Age", "Atk", "Def", "HP", "Spd", "Stamina", "Coin", "Kelamin", "Kategori", "Role"], axis=1)
df_tes

         Name  Age  Atk  Def  ...    Coin    Kelamin     Kategori     Role
0       James   41  446  444  ...   62755  Laki-laki   Dewasa Tua  Fighter
1        John   29  437  452  ...   87334  Perempuan   Dewasa Tua  Fighter
2      Robert   33  482  532  ...  124206  Perempuan   Dewasa Tua  Fighter
3     Michael   38  339  359  ...   -2510  Laki-laki   Dewasa Tua  Fighter
4     William   24  516  480  ...  116874  Perempuan  Dewasa Muda  Fighter
..        ...  ...  ...  ...  ...     ...        ...          ...      ...
995      Burl   57  465  449  ...   84690  Laki-laki       Lansia  Fighter
996    Walker  101  372  365  ...     172  Perempuan       Lansia  Fighter
997     Tyree   37  478  449  ...  106053  Laki-laki   Dewasa Tua  Fighter
998  Jefferey   47  498  461  ...  101993  Perempuan       Lansia  Fighter
999     Ahmed   78  353  336  ...   -1058  Laki-laki       Lansia  Fighter

[1000 rows x 11 columns]

# **Turnamen System**

In [ ]:
random.shuffle(karakter_list)
RoundOf64 = []
for i in range(0,len(karakter_list),2):
  win_name = duel(karakter_list[i],karakter_list[i+1])
  print(karakter_list[i].name+" vs "+karakter_list[i+1].name+" ---> "+win_name)
  print(" ")
  if karakter_list[i].name == win_name:
    RoundOf64.append(karakter_list[i])
  else:
    RoundOf64.append(karakter_list[i+1])

Putu Winner
Putu vs Ayu ---> Putu

Muhamad Winner
Ratih vs Muhamad ---> Muhamad

Noah Winner
William vs Noah ---> Noah

Dina Winner
Amalia vs Dina ---> Dina

Kusuma Winner
Kartika vs Kusuma ---> Kusuma

Theodore Winner
Angga vs Theodore ---> Theodore

Retno Winner
Mason vs Retno ---> Retno

Prima Winner
Rizki vs Prima ---> Prima

Mateo Winner
Fajar vs Mateo ---> Mateo

Irma Winner
Irma vs Amelia ---> Irma

James Winner
Aditya vs James ---> James

Rina Winner
Maya vs Rina ---> Rina

Novita Winner
Novita vs Ahmad ---> Novita

Ratna Winner
Ratna vs Ethan ---> Ratna

Ari Winner
Diana vs Ari ---> Ari

Ika Winner
Hendra vs Ika ---> Ika

Logan Winner
Logan vs Wulan ---> Logan

Astuti Winner
Astuti vs Wulandari ---> Astuti

Muhammad Winner
Muhammad vs Fitria ---> Muhammad

Diah Winner
Indra vs Diah ---> Diah

Levi Winner
Levi vs Michael ---> Levi

Maria Winner
Yunita vs Maria ---> Maria

Rahayu Winner
Agung vs Rahayu ---> Rahayu

Citra Winner
Arif vs Citra ---> Citra

Raden Winner
Arief vs Raden ---> Raden

Oliver Winner
Owen vs Oliver ---> Oliver

Handayani Winner
Indah vs Handayani ---> Handayani

Rahmawati Winner
Puspita vs Rahmawati ---> Rahmawati

Liam Winner
Elijah vs Liam ---> Liam

Sari Winner
Sari vs Wahyuni ---> Sari

Puji Winner
Puji vs Lucas ---> Puji

Gerald Winner
Gerald vs Sebastian ---> Gerald

Adi Winner
Fitri vs Adi ---> Adi

Aiden Winner
Eva vs Aiden ---> Aiden

Budi Winner
Samuel vs Budi ---> Budi

Setiawan Winner
Henry vs Setiawan ---> Setiawan

Bayu Winner
Bayu vs Sri ---> Bayu

Nugroho Winner
Lestari vs Nugroho ---> Nugroho

Kurniawan Winner
Kurniawan vs Endah ---> Kurniawan

Devi Winner
Devi vs Rizky ---> Devi

Daniel Winner
Daniel vs Kurnia ---> Daniel

Ni Winner
Ni vs Abdul ---> Ni

Anita Winner
Alexander vs Anita ---> Anita

Eka Winner
Munaroh vs Eka ---> Eka

Widya Winner
Drando vs Widya ---> Widya

Hadi Winner
Saputra vs Hadi ---> Hadi

Putri Winner
Putri vs Made ---> Putri

Ade Winner
Farras vs Ade ---> Ade

Eko Winner
Eko vs Benjamin ---> Eko

Bagus Winner
Dyah vs Bagus ---> Bagus

Anggraini Winner
Anggraini vs Utami ---> Anggraini

Rini Winner
Dwi vs Rini ---> Rini

Putra Winner
Novi vs Putra ---> Putra

Azka Winner
Andi vs Azka ---> Azka

Ria Winner
Ria vs Intan ---> Ria

Surya Winner
Surya vs Siti ---> Surya

Hidayat Winner
Wahyu vs Hidayat ---> Hidayat

Tri Winner
Jack vs Tri ---> Tri

Dian Winner
Dian vs Yulia ---> Dian

Dewi Winner
Achmad vs Dewi ---> Dewi

Plakasa Winner
Plakasa vs Aulia ---> Plakasa

Jacob Winner
Jacob vs Nurul ---> Jacob

Pratiwi Winner
Agus vs Pratiwi ---> Pratiwi

Ilham Winner
Agustina vs Ilham ---> Ilham

In [ ]:
RoundOf32 = []
for i in range(0,len(RoundOf64),2):
  win_name = duel(RoundOf64[i],RoundOf64[i+1])
  print(RoundOf64[i].name+" vs "+RoundOf64[i+1].name+" ---> "+win_name)
  print(" ")
  if RoundOf64[i].name == win_name:
    RoundOf32.append(RoundOf64[i])
  else:
    RoundOf32.append(RoundOf64[i+1])

Putu Winner
Putu vs Muhamad ---> Putu

Noah Winner
Noah vs Dina ---> Noah

Theodore Winner
Kusuma vs Theodore ---> Theodore

Prima Winner
Retno vs Prima ---> Prima

Mateo Winner
Mateo vs Irma ---> Mateo

James Winner
James vs Rina ---> James

Ratna Winner
Novita vs Ratna ---> Ratna

Ika Winner
Ari vs Ika ---> Ika

Logan Winner
Logan vs Astuti ---> Logan

Diah Winner
Muhammad vs Diah ---> Diah

Maria Winner
Levi vs Maria ---> Maria

Citra Winner
Rahayu vs Citra ---> Citra

Oliver Winner
Raden vs Oliver ---> Oliver

Handayani Winner
Handayani vs Rahmawati ---> Handayani

Sari Winner
Liam vs Sari ---> Sari

Puji Winner
Puji vs Gerald ---> Puji

Adi Winner
Adi vs Aiden ---> Adi

Setiawan Winner
Budi vs Setiawan ---> Setiawan

Nugroho Winner
Bayu vs Nugroho ---> Nugroho

Devi Winner
Kurniawan vs Devi ---> Devi

Ni Winner
Daniel vs Ni ---> Ni

Anita Winner
Anita vs Eka ---> Anita

Hadi Winner
Widya vs Hadi ---> Hadi

Putri Winner
Putri vs Ade ---> Putri

Eko Winner
Eko vs Bagus ---> Eko

Rini Winner
Anggraini vs Rini ---> Rini

Azka Winner
Putra vs Azka ---> Azka

Ria Winner
Ria vs Surya ---> Ria

Hidayat Winner
Hidayat vs Tri ---> Hidayat

Dian Winner
Dian vs Dewi ---> Dian

Plakasa Winner
Plakasa vs Jacob ---> Plakasa

Ilham Winner
Pratiwi vs Ilham ---> Ilham

In [ ]:
RoundOf16 = []
for i in range(0,len(RoundOf32),2):
  win_name = duel(RoundOf32[i],RoundOf32[i+1])
  print(RoundOf32[i].name+" vs "+RoundOf32[i+1].name+" ---> "+win_name)
  print(" ")
  if RoundOf32[i].name == win_name:
    RoundOf16.append(RoundOf32[i])
  else:
    RoundOf16.append(RoundOf32[i+1])

Putu Winner
Putu vs Noah ---> Putu

Theodore Winner
Theodore vs Prima ---> Theodore

James Winner
Mateo vs James ---> James

Ika Winner
Ratna vs Ika ---> Ika

Logan Winner
Logan vs Diah ---> Logan

Maria Winner
Maria vs Citra ---> Maria

Handayani Winner
Oliver vs Handayani ---> Handayani

Puji Winner
Sari vs Puji ---> Puji

Adi Winner
Adi vs Setiawan ---> Adi

Nugroho Winner
Nugroho vs Devi ---> Nugroho

Ni Winner
Ni vs Anita ---> Ni

Hadi Winner
Hadi vs Putri ---> Hadi

Rini Winner
Eko vs Rini ---> Rini

Ria Winner
Azka vs Ria ---> Ria

Hidayat Winner
Hidayat vs Dian ---> Hidayat

Plakasa Winner
Plakasa vs Ilham ---> Plakasa

In [ ]:
QuarterFinal = []
for i in range(0,len(RoundOf16),2):
  win_name = duel(RoundOf16[i],RoundOf16[i+1])
  print(RoundOf16[i].name+" vs "+RoundOf16[i+1].name+" ---> "+win_name)
  print(" ")
  if RoundOf16[i].name == win_name:
    QuarterFinal.append(RoundOf16[i])
  else:
    QuarterFinal.append(RoundOf16[i+1])

Putu Winner
Putu vs Theodore ---> Putu

Ika Winner
James vs Ika ---> Ika

Logan Winner
Logan vs Maria ---> Logan

Puji Winner
Handayani vs Puji ---> Puji

Adi Winner
Adi vs Nugroho ---> Adi

Ni Winner
Ni vs Hadi ---> Ni

Rini Winner
Rini vs Ria ---> Rini

Hidayat Winner
Hidayat vs Plakasa ---> Hidayat

In [ ]:
SemiFinal = []
for i in range(0,len(QuarterFinal),2):
  win_name = duel(QuarterFinal[i],QuarterFinal[i+1])
  print(QuarterFinal[i].name+" vs "+QuarterFinal[i+1].name+" ---> "+win_name)
  print(" ")
  if QuarterFinal[i].name == win_name:
    SemiFinal.append(QuarterFinal[i])
  else:
    SemiFinal.append(QuarterFinal[i+1])

Putu Winner
Putu vs Ika ---> Putu

Puji Winner
Logan vs Puji ---> Puji

Adi Winner
Adi vs Ni ---> Adi

Hidayat Winner
Rini vs Hidayat ---> Hidayat

In [ ]:
Final = []
for i in range(0,len(SemiFinal),2):
  win_name = duel(SemiFinal[i],SemiFinal[i+1])
  print(SemiFinal[i].name+" vs "+SemiFinal[i+1].name+" ---> "+win_name)
  print(" ")
  if SemiFinal[i].name == win_name:
    Final.append(SemiFinal[i])
  else:
    Final.append(SemiFinal[i+1])

Putu Winner
Putu vs Puji ---> Putu

Adi Winner
Adi vs Hidayat ---> Adi

In [ ]:
win_name = duel(Final[0],Final[1])
print(Final[0].name+" vs "+Final[1].name+" ---> "+win_name)
print(" ")

Adi Winner
Putu vs Adi ---> Adi

# **System AI Character Class (First Creation)**

In [ ]:
karakter_list = []
karakter_info = [[],[],[],[],[],[],[],[],[],[],[],[]]
for i in range(6000):
  if i < 2400:
    umur = random.randint(15, 40)
  else:
    umur = random.randint(1, 99)
  karakter_list.append(karakter("user-"+str(i+1),umur))
  karakter_info[0].append(karakter_list[i].name)
  karakter_info[1].append(karakter_list[i].age)
  karakter_info[2].append(karakter_list[i].power.atk)
  karakter_info[3].append(karakter_list[i].power.defend)
  karakter_info[4].append(karakter_list[i].power.health)
  karakter_info[5].append(karakter_list[i].power.spd)
  karakter_info[6].append(karakter_list[i].power.stamina)
  karakter_info[7].append(0)
  karakter_info[8].append(0)
  karakter_info[9].append("-")
  karakter_info[10].append(karakter_list[i].sex)
  karakter_info[11].append(karakter_list[i].sex_role)
df = pd.DataFrame(karakter_info)
df = df.transpose()
df = df.set_axis(["Name", "Age", "Atk", "Def", "HP", "Spd", "Stamina", "win", "Lose", "Class", "Kelamin", "Kategori"], axis=1)
df

           Name Age Atk Def   HP  ... win Lose Class    Kelamin     Kategori
0        user-1  37  20  11  729  ...   0    0     -  Laki-laki   Dewasa Tua
1        user-2  15   3  20  639  ...   0    0     -  Perempuan  Dewasa Muda
2        user-3  18   3  15  464  ...   0    0     -  Laki-laki  Dewasa Muda
3        user-4  16  18  20  498  ...   0    0     -  Perempuan  Dewasa Muda
4        user-5  40  19   2  292  ...   0    0     -  Laki-laki       Lansia
...         ...  ..  ..  ..  ...  ...  ..  ...   ...        ...          ...
5995  user-5996  44   9   3  758  ...   0    0     -  Perempuan       Lansia
5996  user-5997  64  13  16  755  ...   0    0     -  Perempuan       Lansia
5997  user-5998  30  13  10  400  ...   0    0     -  Laki-laki   Dewasa Tua
5998  user-5999  21   4  19  260  ...   0    0     -  Perempuan  Dewasa Muda
5999  user-6000   2  16   4  703  ...   0    0     -  Laki-laki    Anak-anak

[6000 rows x 12 columns]

In [ ]:
df.loc[df["Kategori"] == "Remaja"]

           Name Age Atk Def   HP Spd Stamina win Lose Class    Kelamin Kategori
2400  user-2401  11   7   0  743   9      30   0    0     -  Perempuan   Remaja
2430  user-2431  14  15  15  203   4      26   0    0     -  Perempuan   Remaja
2445  user-2446  13  14   4  294   5      60   0    0     -  Laki-laki   Remaja
2460  user-2461  13   9  17  918   1      35   0    0     -  Perempuan   Remaja
2472  user-2473  13   3  13  982   1      24   0    0     -  Perempuan   Remaja
...         ...  ..  ..  ..  ...  ..     ...  ..  ...   ...        ...      ...
5902  user-5903   9  16  10  846   4      28   0    0     -  Laki-laki   Remaja
5943  user-5944   9  17  14  219   8      39   0    0     -  Laki-laki   Remaja
5962  user-5963  14   8   7  398   2      58   0    0     -  Perempuan   Remaja
5968  user-5969   9  10   5  750  10      41   0    0     -  Perempuan   Remaja
5985  user-5986  11  11  10  841   4      44   0    0     -  Perempuan   Remaja

[312 rows x 12 columns]

In [ ]:
# 6000 orang
# 200x Duel
# Waktu Executing : 17 menit

In [ ]:
df_duel = df.loc[df["Age"] >= 10]
df_duel.reset_index()
lis_temp = list(df_duel["Name"])
karakter_list_duel = [char for char in karakter_list if char.name in lis_temp]
# for char in karakter_list:
#   if char.name in lis_temp:
#     karakter_list_duel.append(char)

for j in range(200):
  random.shuffle(karakter_list_duel)
  for i in range(0,len(karakter_list_duel),2):
    if(i+1 != len(karakter_list_duel)):
      win_name = duel(karakter_list_duel[i],karakter_list_duel[i+1])
      if karakter_list_duel[i].name == win_name:
        lose_name = karakter_list_duel[i+1].name
      else:
        lose_name = karakter_list_duel[i].name

      idx = df_duel[df_duel['Name']==win_name].index.values
      df_duel.at[idx[0],'win'] += 1

      idx = df_duel[df_duel['Name']==lose_name].index.values
      df_duel.at[idx[0],'Lose'] += 1

In [ ]:
df_duel.sort_values("win")

           Name Age Atk Def   HP  ...  win Lose Class    Kelamin     Kategori
5024  user-5025  84   1  13  204  ...    0  200     -  Perempuan       Lansia
2967  user-2968  69   1   8  310  ...    0  200     -  Laki-laki       Lansia
3500  user-3501  53   1   6  302  ...    0  200     -  Perempuan       Lansia
1931  user-1932  29   1   8  277  ...    0  200     -  Laki-laki   Dewasa Tua
3976  user-3977  55   1  18  215  ...    0  200     -  Laki-laki       Lansia
...         ...  ..  ..  ..  ...  ...  ...  ...   ...        ...          ...
1804  user-1805  17  18  16  988  ...  200    0     -  Laki-laki  Dewasa Muda
616    user-617  20  20   9  987  ...  200    0     -  Laki-laki  Dewasa Muda
843    user-844  19  19  13  937  ...  200    0     -  Perempuan  Dewasa Muda
4379  user-4380  56  20  17  995  ...  200    0     -  Perempuan       Lansia
3341  user-3342  51  19  17  990  ...  200    0     -  Perempuan       Lansia

[5678 rows x 12 columns]

In [ ]:
df_merge = pd.merge(df, df_duel, how="left", on=["Name", "Age", "Atk", "Def", "HP", "Spd", "Stamina", "Class", "Kelamin", "Kategori"])
df_merge = df_merge.drop(["win_x", "Lose_x"], axis=1)
df_merge = df_merge.rename(columns={"win_y":"Win", "Lose_y":"Lose"})
df_merge = df_merge.fillna(0)
df_merge

           Name  Age  Atk  Def   HP  ...  Class    Kelamin     Kategori  Win Lose
0        user-1   37   20   11  729  ...      -  Laki-laki   Dewasa Tua  191    9
1        user-2   15    3   20  639  ...      -  Perempuan  Dewasa Muda   43  157
2        user-3   18    3   15  464  ...      -  Laki-laki  Dewasa Muda   19  181
3        user-4   16   18   20  498  ...      -  Perempuan  Dewasa Muda  151   49
4        user-5   40   19    2  292  ...      -  Laki-laki       Lansia   89  111
...         ...  ...  ...  ...  ...  ...    ...        ...          ...  ...  ...
5995  user-5996   44    9    3  758  ...      -  Perempuan       Lansia  113   87
5996  user-5997   64   13   16  755  ...      -  Perempuan       Lansia  167   33
5997  user-5998   30   13   10  400  ...      -  Laki-laki   Dewasa Tua  112   88
5998  user-5999   21    4   19  260  ...      -  Perempuan  Dewasa Muda   27  173
5999  user-6000    2   16    4  703  ...      -  Laki-laki    Anak-anak    0    0

[6000 rows x 12 columns]

In [ ]:
df_merge.loc[df_merge["Win"] < 95]

           Name  Age  Atk  Def   HP  ...  Class    Kelamin     Kategori Win Lose
1        user-2   15    3   20  639  ...      -  Perempuan  Dewasa Muda  43  157
2        user-3   18    3   15  464  ...      -  Laki-laki  Dewasa Muda  19  181
4        user-5   40   19    2  292  ...      -  Laki-laki       Lansia  89  111
11      user-12   15    3   14  724  ...      -  Laki-laki  Dewasa Muda  40  160
16      user-17   38   17    3  284  ...      -  Perempuan   Dewasa Tua  85  115
...         ...  ...  ...  ...  ...  ...    ...        ...          ...  ..  ...
5987  user-5988   17    1   13  332  ...      -  Perempuan  Dewasa Muda   2  198
5988  user-5989   56    3    1  417  ...      -  Laki-laki       Lansia  16  184
5993  user-5994    4    8   14  856  ...      -  Perempuan    Anak-anak   0    0
5998  user-5999   21    4   19  260  ...      -  Perempuan  Dewasa Muda  27  173
5999  user-6000    2   16    4  703  ...      -  Laki-laki    Anak-anak   0    0

[3003 rows x 12 columns]

In [ ]:
df_non = df_merge.loc[df_merge["Win"] < 95]
df_non = df_non.replace({"-":"non-fighter"})
df_non

           Name  Age  Atk  Def  ...    Kelamin     Kategori  Win Lose
1        user-2   15    3   20  ...  Perempuan  Dewasa Muda   43  157
2        user-3   18    3   15  ...  Laki-laki  Dewasa Muda   19  181
4        user-5   40   19    2  ...  Laki-laki       Lansia   89  111
11      user-12   15    3   14  ...  Laki-laki  Dewasa Muda   40  160
16      user-17   38   17    3  ...  Perempuan   Dewasa Tua   85  115
...         ...  ...  ...  ...  ...        ...          ...  ...  ...
5987  user-5988   17    1   13  ...  Perempuan  Dewasa Muda    2  198
5988  user-5989   56    3    1  ...  Laki-laki       Lansia   16  184
5993  user-5994    4    8   14  ...  Perempuan    Anak-anak    0    0
5998  user-5999   21    4   19  ...  Perempuan  Dewasa Muda   27  173
5999  user-6000    2   16    4  ...  Laki-laki    Anak-anak    0    0

[3003 rows x 12 columns]

In [ ]:
df_merge = pd.merge(df_non, df_merge, how="right", on=["Name", "Age", "Atk", "Def", "HP", "Spd", "Stamina", "Win", "Lose", "Kelamin", "Kategori"])
df_merge = df_merge.drop(["Class_y"], axis=1)
df_merge = df_merge.rename(columns={"Class_x":"Class"})
df_merge = df_merge.fillna("fighter")
df_merge

           Name  Age  Atk  Def  ...    Kelamin     Kategori  Win Lose
0        user-1   37   20   11  ...  Laki-laki   Dewasa Tua  191    9
1        user-2   15    3   20  ...  Perempuan  Dewasa Muda   43  157
2        user-3   18    3   15  ...  Laki-laki  Dewasa Muda   19  181
3        user-4   16   18   20  ...  Perempuan  Dewasa Muda  151   49
4        user-5   40   19    2  ...  Laki-laki       Lansia   89  111
...         ...  ...  ...  ...  ...        ...          ...  ...  ...
5995  user-5996   44    9    3  ...  Perempuan       Lansia  113   87
5996  user-5997   64   13   16  ...  Perempuan       Lansia  167   33
5997  user-5998   30   13   10  ...  Laki-laki   Dewasa Tua  112   88
5998  user-5999   21    4   19  ...  Perempuan  Dewasa Muda   27  173
5999  user-6000    2   16    4  ...  Laki-laki    Anak-anak    0    0

[6000 rows x 12 columns]

In [ ]:
dataset = df_merge.drop(["Name","Win","Lose",'Kelamin','Kategori'], axis=1)
dataset

      Age  Atk  Def   HP  Spd  Stamina        Class
0      37   20   11  729   10      148      fighter
1      15    3   20  639    6      144  non-fighter
2      18    3   15  464   10      117  non-fighter
3      16   18   20  498    3       80      fighter
4      40   19    2  292    6      126  non-fighter
...   ...  ...  ...  ...  ...      ...          ...
5995   44    9    3  758    8       67      fighter
5996   64   13   16  755    2       13      fighter
5997   30   13   10  400   10      148      fighter
5998   21    4   19  260    9      131  non-fighter
5999    2   16    4  703    2        3  non-fighter

[6000 rows x 7 columns]

In [ ]:
# Pre-Processing
dataset_pre = dataset.replace({"non-fighter":0, "fighter":1})
dataset_pre_target = dataset_pre["Class"]
dataset_pre_data = dataset_pre.drop(["Class"], axis=1)

In [ ]:
# Normalisasi

d = preprocessing.normalize(dataset_pre_data, axis=0)
dataset_normal = pd.DataFrame(d, columns=["Age","Atk","Def","HP","Spd","Stamina"])
dataset_normal

           Age       Atk       Def        HP       Spd   Stamina
0     0.010014  0.021572  0.012047  0.014673  0.021516  0.020912
1     0.004060  0.003236  0.021903  0.012862  0.012910  0.020347
2     0.004871  0.003236  0.016428  0.009339  0.021516  0.016532
3     0.004330  0.019415  0.021903  0.010024  0.006455  0.011304
4     0.010825  0.020494  0.002190  0.005877  0.012910  0.017803
...        ...       ...       ...       ...       ...       ...
5995  0.011908  0.009708  0.003286  0.015257  0.017213  0.009467
5996  0.017321  0.014022  0.017523  0.015197  0.004303  0.001837
5997  0.008119  0.014022  0.010952  0.008051  0.021516  0.020912
5998  0.005683  0.004314  0.020808  0.005233  0.019364  0.018510
5999  0.000541  0.017258  0.004381  0.014150  0.004303  0.000424

[6000 rows x 6 columns]

In [ ]:
# Split Data

# Split dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(dataset_normal, dataset_pre_target, test_size=0.3,random_state=109) # 70% training and 30% test

In [ ]:
# Tuning Parameters
  
# defining parameter range
param_grid = {'C': [0.1, 1, 10, 100, 1000], 
              'gamma': [10, 1, 0.1, 0.01, 0.001, 0.0001],
              'kernel': ['rbf']} 
  
grid = GridSearchCV(svm.SVC(), param_grid, refit = True, verbose = 3)
  
# fitting the model for grid search
grid.fit(X_train, y_train)

Fitting 5 folds for each of 30 candidates, totalling 150 fits
[CV 1/5] END .......C=0.1, gamma=10, kernel=rbf;, score=0.505 total time=   0.8s
[CV 2/5] END .......C=0.1, gamma=10, kernel=rbf;, score=0.505 total time=   0.7s
[CV 3/5] END .......C=0.1, gamma=10, kernel=rbf;, score=0.504 total time=   0.7s
[CV 4/5] END .......C=0.1, gamma=10, kernel=rbf;, score=0.504 total time=   0.7s
[CV 5/5] END .......C=0.1, gamma=10, kernel=rbf;, score=0.504 total time=   0.7s
[CV 1/5] END ........C=0.1, gamma=1, kernel=rbf;, score=0.505 total time=   0.7s
[CV 2/5] END ........C=0.1, gamma=1, kernel=rbf;, score=0.505 total time=   0.7s
[CV 3/5] END ........C=0.1, gamma=1, kernel=rbf;, score=0.504 total time=   0.7s
[CV 4/5] END ........C=0.1, gamma=1, kernel=rbf;, score=0.504 total time=   0.7s
[CV 5/5] END ........C=0.1, gamma=1, kernel=rbf;, score=0.504 total time=   0.7s
[CV 1/5] END ......C=0.1, gamma=0.1, kernel=rbf;, score=0.505 total time=   0.7s
[CV 2/5] END ......C=0.1, gamma=0.1, kernel=rbf;, score=0.505 total time=   0.7s
[CV 3/5] END ......C=0.1, gamma=0.1, kernel=rbf;, score=0.504 total time=   0.7s
[CV 4/5] END ......C=0.1, gamma=0.1, kernel=rbf;, score=0.504 total time=   0.7s
[CV 5/5] END ......C=0.1, gamma=0.1, kernel=rbf;, score=0.504 total time=   0.7s
[CV 1/5] END .....C=0.1, gamma=0.01, kernel=rbf;, score=0.505 total time=   0.7s
[CV 2/5] END .....C=0.1, gamma=0.01, kernel=rbf;, score=0.505 total time=   0.7s
[CV 3/5] END .....C=0.1, gamma=0.01, kernel=rbf;, score=0.504 total time=   0.7s
[CV 4/5] END .....C=0.1, gamma=0.01, kernel=rbf;, score=0.504 total time=   0.7s
[CV 5/5] END .....C=0.1, gamma=0.01, kernel=rbf;, score=0.504 total time=   0.7s
[CV 1/5] END ....C=0.1, gamma=0.001, kernel=rbf;, score=0.505 total time=   0.7s
[CV 2/5] END ....C=0.1, gamma=0.001, kernel=rbf;, score=0.505 total time=   0.7s
[CV 3/5] END ....C=0.1, gamma=0.001, kernel=rbf;, score=0.504 total time=   0.7s
[CV 4/5] END ....C=0.1, gamma=0.001, kernel=rbf;, score=0.504 total time=   0.8s
[CV 5/5] END ....C=0.1, gamma=0.001, kernel=rbf;, score=0.504 total time=   0.7s
[CV 1/5] END ...C=0.1, gamma=0.0001, kernel=rbf;, score=0.505 total time=   0.7s
[CV 2/5] END ...C=0.1, gamma=0.0001, kernel=rbf;, score=0.505 total time=   0.7s
[CV 3/5] END ...C=0.1, gamma=0.0001, kernel=rbf;, score=0.504 total time=   0.7s
[CV 4/5] END ...C=0.1, gamma=0.0001, kernel=rbf;, score=0.504 total time=   0.7s
[CV 5/5] END ...C=0.1, gamma=0.0001, kernel=rbf;, score=0.504 total time=   0.7s
[CV 1/5] END .........C=1, gamma=10, kernel=rbf;, score=0.881 total time=   0.6s
[CV 2/5] END .........C=1, gamma=10, kernel=rbf;, score=0.882 total time=   0.6s
[CV 3/5] END .........C=1, gamma=10, kernel=rbf;, score=0.880 total time=   0.6s
[CV 4/5] END .........C=1, gamma=10, kernel=rbf;, score=0.840 total time=   0.5s
[CV 5/5] END .........C=1, gamma=10, kernel=rbf;, score=0.874 total time=   0.6s
[CV 1/5] END ..........C=1, gamma=1, kernel=rbf;, score=0.505 total time=   0.7s
[CV 2/5] END ..........C=1, gamma=1, kernel=rbf;, score=0.505 total time=   0.7s
[CV 3/5] END ..........C=1, gamma=1, kernel=rbf;, score=0.504 total time=   0.7s
[CV 4/5] END ..........C=1, gamma=1, kernel=rbf;, score=0.504 total time=   0.7s
[CV 5/5] END ..........C=1, gamma=1, kernel=rbf;, score=0.504 total time=   0.7s
[CV 1/5] END ........C=1, gamma=0.1, kernel=rbf;, score=0.505 total time=   0.7s
[CV 2/5] END ........C=1, gamma=0.1, kernel=rbf;, score=0.505 total time=   0.7s
[CV 3/5] END ........C=1, gamma=0.1, kernel=rbf;, score=0.504 total time=   0.7s
[CV 4/5] END ........C=1, gamma=0.1, kernel=rbf;, score=0.504 total time=   0.7s
[CV 5/5] END ........C=1, gamma=0.1, kernel=rbf;, score=0.504 total time=   0.7s
[CV 1/5] END .......C=1, gamma=0.01, kernel=rbf;, score=0.505 total time=   0.7s
[CV 2/5] END .......C=1, gamma=0.01, kernel=rbf;, score=0.505 total time=   0.7s
[CV 3/5] END .......C=1, gamma=0.01, kernel=rbf;, score=0.504 total time=   0.7s
[CV 4/5] END .......C=1, gamma=0.01, kernel=rbf;, score=0.504 total time=   0.7s
[CV 5/5] END .......C=1, gamma=0.01, kernel=rbf;, score=0.504 total time=   0.7s
[CV 1/5] END ......C=1, gamma=0.001, kernel=rbf;, score=0.505 total time=   0.7s
[CV 2/5] END ......C=1, gamma=0.001, kernel=rbf;, score=0.505 total time=   0.7s
[CV 3/5] END ......C=1, gamma=0.001, kernel=rbf;, score=0.504 total time=   0.7s
[CV 4/5] END ......C=1, gamma=0.001, kernel=rbf;, score=0.504 total time=   0.7s
[CV 5/5] END ......C=1, gamma=0.001, kernel=rbf;, score=0.504 total time=   0.7s
[CV 1/5] END .....C=1, gamma=0.0001, kernel=rbf;, score=0.505 total time=   0.7s
[CV 2/5] END .....C=1, gamma=0.0001, kernel=rbf;, score=0.505 total time=   0.7s
[CV 3/5] END .....C=1, gamma=0.0001, kernel=rbf;, score=0.504 total time=   0.7s
[CV 4/5] END .....C=1, gamma=0.0001, kernel=rbf;, score=0.504 total time=   0.7s
[CV 5/5] END .....C=1, gamma=0.0001, kernel=rbf;, score=0.504 total time=   0.7s
[CV 1/5] END ........C=10, gamma=10, kernel=rbf;, score=0.902 total time=   0.3s
[CV 2/5] END ........C=10, gamma=10, kernel=rbf;, score=0.914 total time=   0.3s
[CV 3/5] END ........C=10, gamma=10, kernel=rbf;, score=0.901 total time=   0.3s
[CV 4/5] END ........C=10, gamma=10, kernel=rbf;, score=0.879 total time=   0.3s
[CV 5/5] END ........C=10, gamma=10, kernel=rbf;, score=0.918 total time=   0.3s
[CV 1/5] END .........C=10, gamma=1, kernel=rbf;, score=0.880 total time=   0.6s
[CV 2/5] END .........C=10, gamma=1, kernel=rbf;, score=0.883 total time=   0.5s
[CV 3/5] END .........C=10, gamma=1, kernel=rbf;, score=0.880 total time=   0.6s
[CV 4/5] END .........C=10, gamma=1, kernel=rbf;, score=0.840 total time=   0.5s
[CV 5/5] END .........C=10, gamma=1, kernel=rbf;, score=0.874 total time=   0.6s
[CV 1/5] END .......C=10, gamma=0.1, kernel=rbf;, score=0.505 total time=   0.7s
[CV 2/5] END .......C=10, gamma=0.1, kernel=rbf;, score=0.505 total time=   0.7s
[CV 3/5] END .......C=10, gamma=0.1, kernel=rbf;, score=0.504 total time=   0.7s
[CV 4/5] END .......C=10, gamma=0.1, kernel=rbf;, score=0.504 total time=   0.7s
[CV 5/5] END .......C=10, gamma=0.1, kernel=rbf;, score=0.504 total time=   0.7s
[CV 1/5] END ......C=10, gamma=0.01, kernel=rbf;, score=0.505 total time=   0.7s
[CV 2/5] END ......C=10, gamma=0.01, kernel=rbf;, score=0.505 total time=   0.7s
[CV 3/5] END ......C=10, gamma=0.01, kernel=rbf;, score=0.504 total time=   0.7s
[CV 4/5] END ......C=10, gamma=0.01, kernel=rbf;, score=0.504 total time=   0.7s
[CV 5/5] END ......C=10, gamma=0.01, kernel=rbf;, score=0.504 total time=   0.7s
[CV 1/5] END .....C=10, gamma=0.001, kernel=rbf;, score=0.505 total time=   0.7s
[CV 2/5] END .....C=10, gamma=0.001, kernel=rbf;, score=0.505 total time=   0.7s
[CV 3/5] END .....C=10, gamma=0.001, kernel=rbf;, score=0.504 total time=   0.7s
[CV 4/5] END .....C=10, gamma=0.001, kernel=rbf;, score=0.504 total time=   0.7s
[CV 5/5] END .....C=10, gamma=0.001, kernel=rbf;, score=0.504 total time=   0.7s
[CV 1/5] END ....C=10, gamma=0.0001, kernel=rbf;, score=0.505 total time=   0.7s
[CV 2/5] END ....C=10, gamma=0.0001, kernel=rbf;, score=0.505 total time=   0.7s
[CV 3/5] END ....C=10, gamma=0.0001, kernel=rbf;, score=0.504 total time=   0.7s
[CV 4/5] END ....C=10, gamma=0.0001, kernel=rbf;, score=0.504 total time=   0.7s
[CV 5/5] END ....C=10, gamma=0.0001, kernel=rbf;, score=0.504 total time=   0.7s
[CV 1/5] END .......C=100, gamma=10, kernel=rbf;, score=0.905 total time=   0.2s
[CV 2/5] END .......C=100, gamma=10, kernel=rbf;, score=0.914 total time=   0.2s
[CV 3/5] END .......C=100, gamma=10, kernel=rbf;, score=0.911 total time=   0.2s
[CV 4/5] END .......C=100, gamma=10, kernel=rbf;, score=0.883 total time=   0.2s
[CV 5/5] END .......C=100, gamma=10, kernel=rbf;, score=0.918 total time=   0.2s
[CV 1/5] END ........C=100, gamma=1, kernel=rbf;, score=0.898 total time=   0.3s
[CV 2/5] END ........C=100, gamma=1, kernel=rbf;, score=0.914 total time=   0.3s
[CV 3/5] END ........C=100, gamma=1, kernel=rbf;, score=0.900 total time=   0.3s
[CV 4/5] END ........C=100, gamma=1, kernel=rbf;, score=0.879 total time=   0.3s
[CV 5/5] END ........C=100, gamma=1, kernel=rbf;, score=0.918 total time=   0.3s
[CV 1/5] END ......C=100, gamma=0.1, kernel=rbf;, score=0.880 total time=   0.5s
[CV 2/5] END ......C=100, gamma=0.1, kernel=rbf;, score=0.883 total time=   0.6s
[CV 3/5] END ......C=100, gamma=0.1, kernel=rbf;, score=0.880 total time=   0.6s
[CV 4/5] END ......C=100, gamma=0.1, kernel=rbf;, score=0.840 total time=   0.6s
[CV 5/5] END ......C=100, gamma=0.1, kernel=rbf;, score=0.874 total time=   0.6s
[CV 1/5] END .....C=100, gamma=0.01, kernel=rbf;, score=0.505 total time=   0.7s
[CV 2/5] END .....C=100, gamma=0.01, kernel=rbf;, score=0.505 total time=   0.7s
[CV 3/5] END .....C=100, gamma=0.01, kernel=rbf;, score=0.504 total time=   0.8s
[CV 4/5] END .....C=100, gamma=0.01, kernel=rbf;, score=0.504 total time=   0.7s
[CV 5/5] END .....C=100, gamma=0.01, kernel=rbf;, score=0.504 total time=   0.7s
[CV 1/5] END ....C=100, gamma=0.001, kernel=rbf;, score=0.505 total time=   0.7s
[CV 2/5] END ....C=100, gamma=0.001, kernel=rbf;, score=0.505 total time=   0.7s
[CV 3/5] END ....C=100, gamma=0.001, kernel=rbf;, score=0.504 total time=   0.7s
[CV 4/5] END ....C=100, gamma=0.001, kernel=rbf;, score=0.504 total time=   0.7s
[CV 5/5] END ....C=100, gamma=0.001, kernel=rbf;, score=0.504 total time=   0.7s
[CV 1/5] END ...C=100, gamma=0.0001, kernel=rbf;, score=0.505 total time=   0.7s
[CV 2/5] END ...C=100, gamma=0.0001, kernel=rbf;, score=0.505 total time=   0.7s
[CV 3/5] END ...C=100, gamma=0.0001, kernel=rbf;, score=0.504 total time=   0.7s
[CV 4/5] END ...C=100, gamma=0.0001, kernel=rbf;, score=0.504 total time=   0.7s
[CV 5/5] END ...C=100, gamma=0.0001, kernel=rbf;, score=0.504 total time=   0.7s
[CV 1/5] END ......C=1000, gamma=10, kernel=rbf;, score=0.913 total time=   0.2s
[CV 2/5] END ......C=1000, gamma=10, kernel=rbf;, score=0.933 total time=   0.2s
[CV 3/5] END ......C=1000, gamma=10, kernel=rbf;, score=0.923 total time=   0.2s
[CV 4/5] END ......C=1000, gamma=10, kernel=rbf;, score=0.904 total time=   0.2s
[CV 5/5] END ......C=1000, gamma=10, kernel=rbf;, score=0.939 total time=   0.2s
[CV 1/5] END .......C=1000, gamma=1, kernel=rbf;, score=0.902 total time=   0.2s
[CV 2/5] END .......C=1000, gamma=1, kernel=rbf;, score=0.908 total time=   0.2s
[CV 3/5] END .......C=1000, gamma=1, kernel=rbf;, score=0.908 total time=   0.2s
[CV 4/5] END .......C=1000, gamma=1, kernel=rbf;, score=0.879 total time=   0.2s
[CV 5/5] END .......C=1000, gamma=1, kernel=rbf;, score=0.913 total time=   0.2s
[CV 1/5] END .....C=1000, gamma=0.1, kernel=rbf;, score=0.898 total time=   0.3s
[CV 2/5] END .....C=1000, gamma=0.1, kernel=rbf;, score=0.914 total time=   0.3s
[CV 3/5] END .....C=1000, gamma=0.1, kernel=rbf;, score=0.900 total time=   0.3s
[CV 4/5] END .....C=1000, gamma=0.1, kernel=rbf;, score=0.879 total time=   0.3s
[CV 5/5] END .....C=1000, gamma=0.1, kernel=rbf;, score=0.918 total time=   0.3s
[CV 1/5] END ....C=1000, gamma=0.01, kernel=rbf;, score=0.881 total time=   0.5s
[CV 2/5] END ....C=1000, gamma=0.01, kernel=rbf;, score=0.882 total time=   0.6s
[CV 3/5] END ....C=1000, gamma=0.01, kernel=rbf;, score=0.881 total time=   0.6s
[CV 4/5] END ....C=1000, gamma=0.01, kernel=rbf;, score=0.840 total time=   0.5s
[CV 5/5] END ....C=1000, gamma=0.01, kernel=rbf;, score=0.874 total time=   0.6s
[CV 1/5] END ...C=1000, gamma=0.001, kernel=rbf;, score=0.505 total time=   0.7s
[CV 2/5] END ...C=1000, gamma=0.001, kernel=rbf;, score=0.505 total time=   0.7s
[CV 3/5] END ...C=1000, gamma=0.001, kernel=rbf;, score=0.504 total time=   0.7s
[CV 4/5] END ...C=1000, gamma=0.001, kernel=rbf;, score=0.504 total time=   0.7s
[CV 5/5] END ...C=1000, gamma=0.001, kernel=rbf;, score=0.504 total time=   0.7s
[CV 1/5] END ..C=1000, gamma=0.0001, kernel=rbf;, score=0.505 total time=   0.7s
[CV 2/5] END ..C=1000, gamma=0.0001, kernel=rbf;, score=0.505 total time=   0.8s
[CV 3/5] END ..C=1000, gamma=0.0001, kernel=rbf;, score=0.504 total time=   0.7s
[CV 4/5] END ..C=1000, gamma=0.0001, kernel=rbf;, score=0.504 total time=   0.7s
[CV 5/5] END ..C=1000, gamma=0.0001, kernel=rbf;, score=0.504 total time=   0.7s

GridSearchCV(estimator=SVC(),
             param_grid={'C': [0.1, 1, 10, 100, 1000],
                         'gamma': [10, 1, 0.1, 0.01, 0.001, 0.0001],
                         'kernel': ['rbf']},
             verbose=3)

In [ ]:
filename = 'svm_first_model.sav'
joblib.dump(grid, filename)

['svm_first_model.sav']

In [ ]:
y_pred = grid.predict(X_test)

In [ ]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.93      0.92      0.93       886
           1       0.92      0.93      0.93       914

    accuracy                           0.93      1800
   macro avg       0.93      0.93      0.93      1800
weighted avg       0.93      0.93      0.93      1800


# **Character Class Automatic Test System**

In [ ]:
nama = "Gerald Plakasa Drando Dwi Azka Muhammad Farras Dewi Tri Dian Sri Putri Eka Sari Ayu Wahyu Indah Siti Ika Agus Fitri Ratna Andi Agung Ahmad Kurniawan Ilham Budi Adi Eko Nurul Putra Ni Arif Puspita Ari Indra Dyah Rizki Maria Ratih Pratiwi Kartika Wulandari Fajar Bayu Lestari Anita Muhamad Kusuma Rahmawati Fitria Retno Kurnia Novita Aditya Ria Nugroho Putu Handayani Rahayu Yunita Rina Ade Widya Intan Diah Agustina Made Abdul Setiawan Rizky Rini Wahyuni Yulia Maya Puji Utami Amalia Dina Devi Citra Arief Munaroh Bagus Hidayat Hendra Eva Endah Raden Novi Irma Astuti Achmad Aulia Surya Amelia Prima Angga Hadi Diana Anggraini Wulan Saputra Liam Noah Oliver Elijah William James Benjamin Lucas Henry Alexander Mason Michael Ethan Daniel Jacob Logan Levi Sebastian Mateo Jack Owen Theodore Aiden Samuel"
names = nama.split()

In [ ]:
karakter_list = []
karakter_info = [[],[],[],[],[],[],[]]
for i in range(len(names)):
  umur = random.randint(1, 99)
  karakter_list.append(karakter(names[i],umur))
  karakter_info[0].append(karakter_list[i].name)
  karakter_info[1].append(karakter_list[i].age)
  karakter_info[2].append(karakter_list[i].power.atk)
  karakter_info[3].append(karakter_list[i].power.defend)
  karakter_info[4].append(karakter_list[i].power.health)
  karakter_info[5].append(karakter_list[i].power.spd)
  karakter_info[6].append(karakter_list[i].power.stamina)
  
df = pd.DataFrame(karakter_info).transpose()
df = df.set_axis(["Name", "Age", "Atk", "Def", "HP", "Spd", "Stamina"], axis=1)
df_temp = df.copy().drop(["Name"], axis = 1)
d = preprocessing.normalize(df_temp, axis=0)
df_normal = pd.DataFrame(d, columns=["Age","Atk","Def","HP","Spd","Stamina"])
hasil = grid.predict(df_normal)

df["Class"] = hasil
df["Class"] = df["Class"].replace({0:"non-fighter", 1:"fighter"})
df

         Name Age Atk Def   HP Spd Stamina        Class
0      Gerald  49  13  18  522   1      38  non-fighter
1     Plakasa  34   4   5  487   8     125  non-fighter
2      Drando  33  15  15  263   3     147  non-fighter
3         Dwi  88   4   7  209   9       9  non-fighter
4        Azka  22  19  10  522   6      86      fighter
..        ...  ..  ..  ..  ...  ..     ...          ...
123      Jack  75   1  11  916   1      10  non-fighter
124      Owen  43   4   6  879   0      86  non-fighter
125  Theodore   5  19  16  775   2      15  non-fighter
126     Aiden  88  17   1  485   3       4  non-fighter
127    Samuel  97   4  12  987   6       4  non-fighter

[128 rows x 8 columns]

In [ ]:
df_fighter = df.loc[df["Class"] == "fighter"]
df_fighter

         Name Age Atk Def   HP Spd Stamina    Class
4        Azka  22  19  10  522   6      86  fighter
6      Farras   9  16  12  670   0      45  fighter
8         Tri  49  14   7  599   3      49  fighter
12        Eka  36  14   0  339   6      80  fighter
13       Sari  25  18   4  672   1      86  fighter
14        Ayu  14  13   8  213   0      71  fighter
15      Wahyu  10   2   0  331   0      50  fighter
16      Indah  26  12  11  468   6      97  fighter
20      Fitri  11   9   3  959   1      37  fighter
21      Ratna  44   7   9  442   3      70  fighter
22       Andi  35   6  11  589   0      99  fighter
26      Ilham  77  13   2  606   0      10  fighter
36      Indra  48  14   4  944   6      43  fighter
37       Dyah   5   6   4  442   4      22  fighter
38      Rizki  52   3   2  877   5      19  fighter
41    Pratiwi  81  10   4  339   0       6  fighter
46    Lestari   9  12  14  299   0      43  fighter
56        Ria  71   5   1  668   2       7  fighter
57    Nugroho  65  17   6  815   1      10  fighter
61     Yunita   2   9   2  949   0       6  fighter
67   Agustina  31  12   2  396   2     131  fighter
75       Maya   5   3   2  761   5      20  fighter
79       Dina  36  12   2  362   1      94  fighter
81      Citra  48  12  11  842   4      24  fighter
88      Endah  46  10   8  423   6      73  fighter
89      Raden  59  20   8  958   0      15  fighter
90       Novi  48  16   5  568   2      45  fighter
91       Irma  13   8   5  853   2      52  fighter
96     Amelia  47  10   7  947   7      56  fighter
100     Diana  80   9   6  375   0       5  fighter
104      Liam   6  15   4  204   0      28  fighter
106    Oliver  12  10  19  551   1      50  fighter
114     Mason  25  12  14  502   3      88  fighter
116     Ethan  55  12   7  962   7      10  fighter
119     Logan  48  18   2  665   0      33  fighter

In [ ]:
df_fighter.sort_values("Age")

         Name Age Atk Def   HP Spd Stamina    Class
61     Yunita   2   9   2  949   0       6  fighter
37       Dyah   5   6   4  442   4      22  fighter
75       Maya   5   3   2  761   5      20  fighter
104      Liam   6  15   4  204   0      28  fighter
6      Farras   9  16  12  670   0      45  fighter
46    Lestari   9  12  14  299   0      43  fighter
15      Wahyu  10   2   0  331   0      50  fighter
20      Fitri  11   9   3  959   1      37  fighter
106    Oliver  12  10  19  551   1      50  fighter
91       Irma  13   8   5  853   2      52  fighter
14        Ayu  14  13   8  213   0      71  fighter
4        Azka  22  19  10  522   6      86  fighter
13       Sari  25  18   4  672   1      86  fighter
114     Mason  25  12  14  502   3      88  fighter
16      Indah  26  12  11  468   6      97  fighter
67   Agustina  31  12   2  396   2     131  fighter
22       Andi  35   6  11  589   0      99  fighter
12        Eka  36  14   0  339   6      80  fighter
79       Dina  36  12   2  362   1      94  fighter
21      Ratna  44   7   9  442   3      70  fighter
88      Endah  46  10   8  423   6      73  fighter
96     Amelia  47  10   7  947   7      56  fighter
90       Novi  48  16   5  568   2      45  fighter
119     Logan  48  18   2  665   0      33  fighter
36      Indra  48  14   4  944   6      43  fighter
81      Citra  48  12  11  842   4      24  fighter
8         Tri  49  14   7  599   3      49  fighter
38      Rizki  52   3   2  877   5      19  fighter
116     Ethan  55  12   7  962   7      10  fighter
89      Raden  59  20   8  958   0      15  fighter
57    Nugroho  65  17   6  815   1      10  fighter
56        Ria  71   5   1  668   2       7  fighter
26      Ilham  77  13   2  606   0      10  fighter
100     Diana  80   9   6  375   0       5  fighter
41    Pratiwi  81  10   4  339   0       6  fighter

# **System AI Character Class (After 10 y.o)**

In [ ]:
karakter_list = []
for i in range(1000):
  karakter_list.append(karakter("user-"+str(i+1),1))

day = 1
month = 1
year = 1

while(year < 10):
  if month > 12:
    year += 1
    ageUpList(karakter_list)
    month = 1
    day = 1
  if day > 30:
    month += 1
    day = 1
  karakter_list = daily(karakter_list)
  day += 1

karakter_info = [[],[],[],[],[],[],[],[],[],[],[]]
for i in range(len(karakter_list)):
  
  karakter_info[0].append(karakter_list[i].name)
  karakter_info[1].append(karakter_list[i].age)
  karakter_info[2].append(karakter_list[i].power.atk)
  karakter_info[3].append(karakter_list[i].power.defend)
  karakter_info[4].append(karakter_list[i].power.health)
  karakter_info[5].append(karakter_list[i].power.spd)
  karakter_info[6].append(karakter_list[i].power.stamina)
  karakter_info[7].append(0)
  karakter_info[8].append(0)
  karakter_info[9].append("-")
  karakter_info[10].append(karakter_list[i].coin)
df = pd.DataFrame(karakter_info)
df = df.transpose()
df = df.set_axis(["Name", "Age", "Atk", "Def", "HP", "Spd", "Stamina", "win", "Lose", "Class", "Coin"], axis=1)
df

          Name Age Atk  Def    HP Spd Stamina win Lose Class  Coin
0       user-1  10  86   90  1121  46      13   0    0     -   -26
1       user-2  10  59   94   723  51      15   0    0     -   134
2       user-3  10  67   51   975  48       9   0    0     -    68
3       user-4  10  67   86  1116  37      16   0    0     -   -37
4       user-5  10  64   66  1086  56       9   0    0     -    36
..         ...  ..  ..  ...   ...  ..     ...  ..  ...   ...   ...
995   user-996  10  72   81   753  43      11   0    0     -    -2
996   user-997  10  79   85   762  59      13   0    0     -  -117
997   user-998  10  80  109  1497  60      14   0    0     -    35
998   user-999  10  79   67  1325  62      16   0    0     -    36
999  user-1000  10  89   71  1081  46      12   0    0     -    53

[1000 rows x 11 columns]

In [ ]:
df.sort_values("Coin")

         Name Age  Atk  Def    HP Spd Stamina win Lose Class  Coin
776  user-777  10   89   87   840  56      13   0    0     -  -124
979  user-980  10  103  107  1363  52      10   0    0     -  -120
996  user-997  10   79   85   762  59      13   0    0     -  -117
773  user-774  10   93   94   975  58      12   0    0     -  -106
814  user-815  10   85  104   838  56      16   0    0     -  -104
..        ...  ..  ...  ...   ...  ..     ...  ..  ...   ...   ...
442  user-443  10   89   81  1503  44      15   0    0     -   699
378  user-379  10  102   87   900  41      11   0    0     -   702
272  user-273  10   82   49   766  51      15   0    0     -   706
439  user-440  10   94  105  1235  64      15   0    0     -   711
611  user-612  10  102  108  1352  63      14   0    0     -   744

[1000 rows x 11 columns]

In [ ]:
df.loc[df["Coin"] > 0]

          Name Age  Atk  Def    HP Spd Stamina win Lose Class Coin
1       user-2  10   59   94   723  51      15   0    0     -  134
2       user-3  10   67   51   975  48       9   0    0     -   68
4       user-5  10   64   66  1086  56       9   0    0     -   36
5       user-6  10   64   74  1337  53      16   0    0     -   36
6       user-7  10   65   62   964  48      12   0    0     -    9
..         ...  ..  ...  ...   ...  ..     ...  ..  ...   ...  ...
992   user-993  10   64   80   676  43      18   0    0     -   65
994   user-995  10  109   70  1310  40      15   0    0     -  652
997   user-998  10   80  109  1497  60      14   0    0     -   35
998   user-999  10   79   67  1325  62      16   0    0     -   36
999  user-1000  10   89   71  1081  46      12   0    0     -   53

[575 rows x 11 columns]

In [ ]:
df = df.drop("Coin", axis=1)
df_duel = df.copy()
karakter_list_duel = karakter_list

for j in range(200):
  random.shuffle(karakter_list_duel)
  for i in range(0,len(karakter_list_duel),2):
    if(i+1 != len(karakter_list_duel)):
      win_name = duel(karakter_list_duel[i],karakter_list_duel[i+1])
      if karakter_list_duel[i].name == win_name:
        lose_name = karakter_list_duel[i+1].name
      else:
        lose_name = karakter_list_duel[i].name

      idx = df_duel[df_duel['Name']==win_name].index.values
      df_duel.at[idx[0],'win'] += 1

      idx = df_duel[df_duel['Name']==lose_name].index.values
      df_duel.at[idx[0],'Lose'] += 1

In [ ]:
df_duel.sort_values("win")

         Name Age  Atk  Def    HP Spd Stamina  win Lose Class
250  user-251  10   53   68   684  62      11    0  200     -
445  user-446  10   55   51   605  46      11    0  200     -
730  user-731  10   41   58   727  42      16    1  199     -
14    user-15  10   66   80   612  47       9    3  197     -
809  user-810  10   57   71   749  51      16    4  196     -
..        ...  ..  ...  ...   ...  ..     ...  ...  ...   ...
611  user-612  10  102  108  1352  63      14  196    4     -
504  user-505  10   95   93  1458  47      13  197    3     -
891  user-892  10   96   92  1508  42      11  197    3     -
979  user-980  10  103  107  1363  52      10  198    2     -
835  user-836  10  105   90  1571  71      11  198    2     -

[1000 rows x 10 columns]

In [ ]:
df_non = df_duel.loc[df_duel["win"] < 96]
df_non = df_non.replace({"-":"non-fighter"})
df_non

         Name  Age  Atk  Def    HP  Spd  Stamina  win  Lose        Class
1      user-2   10   59   94   723   51       15   11   189  non-fighter
2      user-3   10   67   51   975   48        9   17   183  non-fighter
3      user-4   10   67   86  1116   37       16   89   111  non-fighter
4      user-5   10   64   66  1086   56        9   43   157  non-fighter
5      user-6   10   64   74  1337   53       16   93   107  non-fighter
..        ...  ...  ...  ...   ...  ...      ...  ...   ...          ...
991  user-992   10   61   70  1291   37        9   67   133  non-fighter
992  user-993   10   64   80   676   43       18    8   192  non-fighter
993  user-994   10   97   73   791   49       17   60   140  non-fighter
995  user-996   10   72   81   753   43       11   28   172  non-fighter
996  user-997   10   79   85   762   59       13   42   158  non-fighter

[475 rows x 10 columns]

In [ ]:
df_merge = pd.merge(df_non, df_duel, how="right", on=["Name", "Age", "Atk", "Def", "HP", "Spd", "Stamina", "win", "Lose"])
df_merge = df_merge.drop(["Class_y"], axis=1)
df_merge = df_merge.rename(columns={"Class_x":"Class"})
df_merge = df_merge.fillna("fighter")
df_merge

          Name   Age   Atk    Def  ...  Stamina    win   Lose        Class
0       user-1  10.0  86.0   90.0  ...     13.0  132.0   68.0      fighter
1       user-2  10.0  59.0   94.0  ...     15.0   11.0  189.0  non-fighter
2       user-3  10.0  67.0   51.0  ...      9.0   17.0  183.0  non-fighter
3       user-4  10.0  67.0   86.0  ...     16.0   89.0  111.0  non-fighter
4       user-5  10.0  64.0   66.0  ...      9.0   43.0  157.0  non-fighter
..         ...   ...   ...    ...  ...      ...    ...    ...          ...
995   user-996  10.0  72.0   81.0  ...     11.0   28.0  172.0  non-fighter
996   user-997  10.0  79.0   85.0  ...     13.0   42.0  158.0  non-fighter
997   user-998  10.0  80.0  109.0  ...     14.0  185.0   15.0      fighter
998   user-999  10.0  79.0   67.0  ...     16.0  115.0   85.0      fighter
999  user-1000  10.0  89.0   71.0  ...     12.0  113.0   87.0      fighter

[1000 rows x 10 columns]

In [ ]:
dataset = df_merge.drop(["Name","win","Lose","Age"], axis=1)
dataset

      Atk    Def      HP   Spd  Stamina        Class
0    86.0   90.0  1121.0  46.0     13.0      fighter
1    59.0   94.0   723.0  51.0     15.0  non-fighter
2    67.0   51.0   975.0  48.0      9.0  non-fighter
3    67.0   86.0  1116.0  37.0     16.0  non-fighter
4    64.0   66.0  1086.0  56.0      9.0  non-fighter
..    ...    ...     ...   ...      ...          ...
995  72.0   81.0   753.0  43.0     11.0  non-fighter
996  79.0   85.0   762.0  59.0     13.0  non-fighter
997  80.0  109.0  1497.0  60.0     14.0      fighter
998  79.0   67.0  1325.0  62.0     16.0      fighter
999  89.0   71.0  1081.0  46.0     12.0      fighter

[1000 rows x 6 columns]

In [ ]:
# Pre-Processing

dataset_pre = dataset.replace({"non-fighter":0, "fighter":1})
dataset_pre_target = dataset_pre["Class"]
dataset_pre_data = dataset_pre.drop(["Class"], axis=1)

In [ ]:
dt_test = dataset_pre_data.copy()
print("Max : "+str(dt_test.max()))
print("Max : "+str(dt_test.min()))
normalized_df=(dt_test-dt_test.min())/(dt_test.max()-dt_test.min())
normalized_df

Max : Atk         112.0
Def         119.0
HP         1571.0
Spd          72.0
Stamina      23.0
dtype: float64
Max : Atk         41.0
Def         36.0
HP         605.0
Spd         27.0
Stamina      4.0
dtype: float64

          Atk       Def        HP       Spd   Stamina
0    0.633803  0.650602  0.534161  0.422222  0.473684
1    0.253521  0.698795  0.122153  0.533333  0.578947
2    0.366197  0.180723  0.383023  0.466667  0.263158
3    0.366197  0.602410  0.528986  0.222222  0.631579
4    0.323944  0.361446  0.497930  0.644444  0.263158
..        ...       ...       ...       ...       ...
995  0.436620  0.542169  0.153209  0.355556  0.368421
996  0.535211  0.590361  0.162526  0.711111  0.473684
997  0.549296  0.879518  0.923395  0.733333  0.526316
998  0.535211  0.373494  0.745342  0.777778  0.631579
999  0.676056  0.421687  0.492754  0.422222  0.421053

[1000 rows x 5 columns]

In [ ]:
# Normalisasi

d = preprocessing.normalize(dataset_pre_data, axis=0)
dataset_normal = pd.DataFrame(d, columns=["Atk","Def","HP","Spd","Stamina"])
dataset_normal

          Atk       Def        HP       Spd   Stamina
0    0.033662  0.035566  0.031083  0.029439  0.029615
1    0.023093  0.037147  0.020047  0.032639  0.034172
2    0.026225  0.020154  0.027035  0.030719  0.020503
3    0.026225  0.033986  0.030944  0.023679  0.036450
4    0.025050  0.026082  0.030112  0.035839  0.020503
..        ...       ...       ...       ...       ...
995  0.028182  0.032010  0.020879  0.027519  0.025059
996  0.030922  0.033591  0.021129  0.037759  0.029615
997  0.031313  0.043075  0.041508  0.038399  0.031893
998  0.030922  0.026477  0.036739  0.039679  0.036450
999  0.034836  0.028058  0.029974  0.029439  0.027337

[1000 rows x 5 columns]

In [ ]:
# Split Data

# Split dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(dataset_normal, dataset_pre_target, test_size=0.3,random_state=109) # 70% training and 30% test

In [ ]:
# Tuning Parameters
  
# defining parameter range
param_grid = {'C': [0.1, 1, 10, 100, 1000], 
              'gamma': [10, 1, 0.1, 0.01, 0.001, 0.0001],
              'kernel': ['rbf']} 
  
grid_2 = GridSearchCV(svm.SVC(), param_grid, refit = True, verbose = 3)
  
# fitting the model for grid search
grid_2.fit(X_train, y_train)

Fitting 5 folds for each of 30 candidates, totalling 150 fits
[CV] C=0.1, gamma=10, kernel=rbf .....................................
[CV] ......... C=0.1, gamma=10, kernel=rbf, score=0.529, total=   0.0s
[CV] C=0.1, gamma=10, kernel=rbf .....................................
[CV] ......... C=0.1, gamma=10, kernel=rbf, score=0.529, total=   0.0s
[CV] C=0.1, gamma=10, kernel=rbf .....................................
[CV] ......... C=0.1, gamma=10, kernel=rbf, score=0.521, total=   0.0s
[CV] C=0.1, gamma=10, kernel=rbf .....................................
[CV] ......... C=0.1, gamma=10, kernel=rbf, score=0.521, total=   0.0s
[CV] C=0.1, gamma=10, kernel=rbf .....................................
[CV] ......... C=0.1, gamma=10, kernel=rbf, score=0.521, total=   0.0s
[CV] C=0.1, gamma=1, kernel=rbf ......................................
[CV] .......... C=0.1, gamma=1, kernel=rbf, score=0.529, total=   0.0s
[CV] C=0.1, gamma=1, kernel=rbf ......................................
[CV] .......... C=0.1, gamma=1, kernel=rbf, score=0.529, total=   0.0s
[CV] C=0.1, gamma=1, kernel=rbf ......................................
[CV] .......... C=0.1, gamma=1, kernel=rbf, score=0.521, total=   0.0s
[CV] C=0.1, gamma=1, kernel=rbf ......................................
[CV] .......... C=0.1, gamma=1, kernel=rbf, score=0.521, total=   0.0s
[CV] C=0.1, gamma=1, kernel=rbf ......................................
[CV] .......... C=0.1, gamma=1, kernel=rbf, score=0.521, total=   0.0s
[CV] C=0.1, gamma=0.1, kernel=rbf ....................................
[CV] ........ C=0.1, gamma=0.1, kernel=rbf, score=0.529, total=   0.0s
[CV] C=0.1, gamma=0.1, kernel=rbf ....................................

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   2 out of   2 | elapsed:    0.0s remaining:    0.0s

[CV] ........ C=0.1, gamma=0.1, kernel=rbf, score=0.529, total=   0.0s
[CV] C=0.1, gamma=0.1, kernel=rbf ....................................
[CV] ........ C=0.1, gamma=0.1, kernel=rbf, score=0.521, total=   0.0s
[CV] C=0.1, gamma=0.1, kernel=rbf ....................................
[CV] ........ C=0.1, gamma=0.1, kernel=rbf, score=0.521, total=   0.0s
[CV] C=0.1, gamma=0.1, kernel=rbf ....................................
[CV] ........ C=0.1, gamma=0.1, kernel=rbf, score=0.521, total=   0.0s
[CV] C=0.1, gamma=0.01, kernel=rbf ...................................
[CV] ....... C=0.1, gamma=0.01, kernel=rbf, score=0.529, total=   0.0s
[CV] C=0.1, gamma=0.01, kernel=rbf ...................................
[CV] ....... C=0.1, gamma=0.01, kernel=rbf, score=0.529, total=   0.0s
[CV] C=0.1, gamma=0.01, kernel=rbf ...................................
[CV] ....... C=0.1, gamma=0.01, kernel=rbf, score=0.521, total=   0.0s
[CV] C=0.1, gamma=0.01, kernel=rbf ...................................
[CV] ....... C=0.1, gamma=0.01, kernel=rbf, score=0.521, total=   0.0s
[CV] C=0.1, gamma=0.01, kernel=rbf ...................................
[CV] ....... C=0.1, gamma=0.01, kernel=rbf, score=0.521, total=   0.0s
[CV] C=0.1, gamma=0.001, kernel=rbf ..................................
[CV] ...... C=0.1, gamma=0.001, kernel=rbf, score=0.529, total=   0.0s
[CV] C=0.1, gamma=0.001, kernel=rbf ..................................
[CV] ...... C=0.1, gamma=0.001, kernel=rbf, score=0.529, total=   0.0s
[CV] C=0.1, gamma=0.001, kernel=rbf ..................................
[CV] ...... C=0.1, gamma=0.001, kernel=rbf, score=0.521, total=   0.0s
[CV] C=0.1, gamma=0.001, kernel=rbf ..................................
[CV] ...... C=0.1, gamma=0.001, kernel=rbf, score=0.521, total=   0.0s
[CV] C=0.1, gamma=0.001, kernel=rbf ..................................
[CV] ...... C=0.1, gamma=0.001, kernel=rbf, score=0.521, total=   0.0s
[CV] C=0.1, gamma=0.0001, kernel=rbf .................................
[CV] ..... C=0.1, gamma=0.0001, kernel=rbf, score=0.529, total=   0.0s
[CV] C=0.1, gamma=0.0001, kernel=rbf .................................
[CV] ..... C=0.1, gamma=0.0001, kernel=rbf, score=0.529, total=   0.0s
[CV] C=0.1, gamma=0.0001, kernel=rbf .................................
[CV] ..... C=0.1, gamma=0.0001, kernel=rbf, score=0.521, total=   0.0s
[CV] C=0.1, gamma=0.0001, kernel=rbf .................................
[CV] ..... C=0.1, gamma=0.0001, kernel=rbf, score=0.521, total=   0.0s
[CV] C=0.1, gamma=0.0001, kernel=rbf .................................
[CV] ..... C=0.1, gamma=0.0001, kernel=rbf, score=0.521, total=   0.0s
[CV] C=1, gamma=10, kernel=rbf .......................................
[CV] ........... C=1, gamma=10, kernel=rbf, score=0.607, total=   0.0s
[CV] C=1, gamma=10, kernel=rbf .......................................
[CV] ........... C=1, gamma=10, kernel=rbf, score=0.550, total=   0.0s
[CV] C=1, gamma=10, kernel=rbf .......................................
[CV] ........... C=1, gamma=10, kernel=rbf, score=0.600, total=   0.0s
[CV] C=1, gamma=10, kernel=rbf .......................................
[CV] ........... C=1, gamma=10, kernel=rbf, score=0.564, total=   0.0s
[CV] C=1, gamma=10, kernel=rbf .......................................
[CV] ........... C=1, gamma=10, kernel=rbf, score=0.600, total=   0.0s
[CV] C=1, gamma=1, kernel=rbf ........................................
[CV] ............ C=1, gamma=1, kernel=rbf, score=0.529, total=   0.0s
[CV] C=1, gamma=1, kernel=rbf ........................................
[CV] ............ C=1, gamma=1, kernel=rbf, score=0.529, total=   0.0s
[CV] C=1, gamma=1, kernel=rbf ........................................
[CV] ............ C=1, gamma=1, kernel=rbf, score=0.521, total=   0.0s
[CV] C=1, gamma=1, kernel=rbf ........................................
[CV] ............ C=1, gamma=1, kernel=rbf, score=0.521, total=   0.0s
[CV] C=1, gamma=1, kernel=rbf ........................................
[CV] ............ C=1, gamma=1, kernel=rbf, score=0.521, total=   0.0s
[CV] C=1, gamma=0.1, kernel=rbf ......................................
[CV] .......... C=1, gamma=0.1, kernel=rbf, score=0.529, total=   0.0s
[CV] C=1, gamma=0.1, kernel=rbf ......................................
[CV] .......... C=1, gamma=0.1, kernel=rbf, score=0.529, total=   0.0s
[CV] C=1, gamma=0.1, kernel=rbf ......................................
[CV] .......... C=1, gamma=0.1, kernel=rbf, score=0.521, total=   0.0s
[CV] C=1, gamma=0.1, kernel=rbf ......................................
[CV] .......... C=1, gamma=0.1, kernel=rbf, score=0.521, total=   0.0s
[CV] C=1, gamma=0.1, kernel=rbf ......................................
[CV] .......... C=1, gamma=0.1, kernel=rbf, score=0.521, total=   0.0s
[CV] C=1, gamma=0.01, kernel=rbf .....................................
[CV] ......... C=1, gamma=0.01, kernel=rbf, score=0.529, total=   0.0s
[CV] C=1, gamma=0.01, kernel=rbf .....................................
[CV] ......... C=1, gamma=0.01, kernel=rbf, score=0.529, total=   0.0s
[CV] C=1, gamma=0.01, kernel=rbf .....................................
[CV] ......... C=1, gamma=0.01, kernel=rbf, score=0.521, total=   0.0s
[CV] C=1, gamma=0.01, kernel=rbf .....................................
[CV] ......... C=1, gamma=0.01, kernel=rbf, score=0.521, total=   0.0s
[CV] C=1, gamma=0.01, kernel=rbf .....................................
[CV] ......... C=1, gamma=0.01, kernel=rbf, score=0.521, total=   0.0s
[CV] C=1, gamma=0.001, kernel=rbf ....................................
[CV] ........ C=1, gamma=0.001, kernel=rbf, score=0.529, total=   0.0s
[CV] C=1, gamma=0.001, kernel=rbf ....................................
[CV] ........ C=1, gamma=0.001, kernel=rbf, score=0.529, total=   0.0s
[CV] C=1, gamma=0.001, kernel=rbf ....................................
[CV] ........ C=1, gamma=0.001, kernel=rbf, score=0.521, total=   0.0s
[CV] C=1, gamma=0.001, kernel=rbf ....................................
[CV] ........ C=1, gamma=0.001, kernel=rbf, score=0.521, total=   0.0s
[CV] C=1, gamma=0.001, kernel=rbf ....................................
[CV] ........ C=1, gamma=0.001, kernel=rbf, score=0.521, total=   0.0s
[CV] C=1, gamma=0.0001, kernel=rbf ...................................
[CV] ....... C=1, gamma=0.0001, kernel=rbf, score=0.529, total=   0.0s
[CV] C=1, gamma=0.0001, kernel=rbf ...................................
[CV] ....... C=1, gamma=0.0001, kernel=rbf, score=0.529, total=   0.0s
[CV] C=1, gamma=0.0001, kernel=rbf ...................................
[CV] ....... C=1, gamma=0.0001, kernel=rbf, score=0.521, total=   0.0s
[CV] C=1, gamma=0.0001, kernel=rbf ...................................
[CV] ....... C=1, gamma=0.0001, kernel=rbf, score=0.521, total=   0.0s
[CV] C=1, gamma=0.0001, kernel=rbf ...................................
[CV] ....... C=1, gamma=0.0001, kernel=rbf, score=0.521, total=   0.0s
[CV] C=10, gamma=10, kernel=rbf ......................................
[CV] .......... C=10, gamma=10, kernel=rbf, score=0.957, total=   0.0s
[CV] C=10, gamma=10, kernel=rbf ......................................
[CV] .......... C=10, gamma=10, kernel=rbf, score=0.979, total=   0.0s
[CV] C=10, gamma=10, kernel=rbf ......................................
[CV] .......... C=10, gamma=10, kernel=rbf, score=0.936, total=   0.0s
[CV] C=10, gamma=10, kernel=rbf ......................................
[CV] .......... C=10, gamma=10, kernel=rbf, score=0.943, total=   0.0s
[CV] C=10, gamma=10, kernel=rbf ......................................
[CV] .......... C=10, gamma=10, kernel=rbf, score=0.886, total=   0.0s
[CV] C=10, gamma=1, kernel=rbf .......................................
[CV] ........... C=10, gamma=1, kernel=rbf, score=0.607, total=   0.0s
[CV] C=10, gamma=1, kernel=rbf .......................................
[CV] ........... C=10, gamma=1, kernel=rbf, score=0.550, total=   0.0s
[CV] C=10, gamma=1, kernel=rbf .......................................
[CV] ........... C=10, gamma=1, kernel=rbf, score=0.600, total=   0.0s
[CV] C=10, gamma=1, kernel=rbf .......................................
[CV] ........... C=10, gamma=1, kernel=rbf, score=0.564, total=   0.0s
[CV] C=10, gamma=1, kernel=rbf .......................................
[CV] ........... C=10, gamma=1, kernel=rbf, score=0.600, total=   0.0s
[CV] C=10, gamma=0.1, kernel=rbf .....................................
[CV] ......... C=10, gamma=0.1, kernel=rbf, score=0.529, total=   0.0s
[CV] C=10, gamma=0.1, kernel=rbf .....................................
[CV] ......... C=10, gamma=0.1, kernel=rbf, score=0.529, total=   0.0s
[CV] C=10, gamma=0.1, kernel=rbf .....................................
[CV] ......... C=10, gamma=0.1, kernel=rbf, score=0.521, total=   0.0s
[CV] C=10, gamma=0.1, kernel=rbf .....................................
[CV] ......... C=10, gamma=0.1, kernel=rbf, score=0.521, total=   0.0s
[CV] C=10, gamma=0.1, kernel=rbf .....................................
[CV] ......... C=10, gamma=0.1, kernel=rbf, score=0.521, total=   0.0s
[CV] C=10, gamma=0.01, kernel=rbf ....................................
[CV] ........ C=10, gamma=0.01, kernel=rbf, score=0.529, total=   0.0s
[CV] C=10, gamma=0.01, kernel=rbf ....................................
[CV] ........ C=10, gamma=0.01, kernel=rbf, score=0.529, total=   0.0s
[CV] C=10, gamma=0.01, kernel=rbf ....................................
[CV] ........ C=10, gamma=0.01, kernel=rbf, score=0.521, total=   0.0s
[CV] C=10, gamma=0.01, kernel=rbf ....................................
[CV] ........ C=10, gamma=0.01, kernel=rbf, score=0.521, total=   0.0s
[CV] C=10, gamma=0.01, kernel=rbf ....................................
[CV] ........ C=10, gamma=0.01, kernel=rbf, score=0.521, total=   0.0s
[CV] C=10, gamma=0.001, kernel=rbf ...................................
[CV] ....... C=10, gamma=0.001, kernel=rbf, score=0.529, total=   0.0s
[CV] C=10, gamma=0.001, kernel=rbf ...................................
[CV] ....... C=10, gamma=0.001, kernel=rbf, score=0.529, total=   0.0s
[CV] C=10, gamma=0.001, kernel=rbf ...................................
[CV] ....... C=10, gamma=0.001, kernel=rbf, score=0.521, total=   0.0s
[CV] C=10, gamma=0.001, kernel=rbf ...................................
[CV] ....... C=10, gamma=0.001, kernel=rbf, score=0.521, total=   0.0s
[CV] C=10, gamma=0.001, kernel=rbf ...................................
[CV] ....... C=10, gamma=0.001, kernel=rbf, score=0.521, total=   0.0s
[CV] C=10, gamma=0.0001, kernel=rbf ..................................
[CV] ...... C=10, gamma=0.0001, kernel=rbf, score=0.529, total=   0.0s
[CV] C=10, gamma=0.0001, kernel=rbf ..................................
[CV] ...... C=10, gamma=0.0001, kernel=rbf, score=0.529, total=   0.0s
[CV] C=10, gamma=0.0001, kernel=rbf ..................................
[CV] ...... C=10, gamma=0.0001, kernel=rbf, score=0.521, total=   0.0s
[CV] C=10, gamma=0.0001, kernel=rbf ..................................
[CV] ...... C=10, gamma=0.0001, kernel=rbf, score=0.521, total=   0.0s
[CV] C=10, gamma=0.0001, kernel=rbf ..................................
[CV] ...... C=10, gamma=0.0001, kernel=rbf, score=0.521, total=   0.0s
[CV] C=100, gamma=10, kernel=rbf .....................................
[CV] ......... C=100, gamma=10, kernel=rbf, score=0.971, total=   0.0s
[CV] C=100, gamma=10, kernel=rbf .....................................
[CV] ......... C=100, gamma=10, kernel=rbf, score=0.964, total=   0.0s
[CV] C=100, gamma=10, kernel=rbf .....................................
[CV] ......... C=100, gamma=10, kernel=rbf, score=0.957, total=   0.0s
[CV] C=100, gamma=10, kernel=rbf .....................................
[CV] ......... C=100, gamma=10, kernel=rbf, score=0.957, total=   0.0s
[CV] C=100, gamma=10, kernel=rbf .....................................
[CV] ......... C=100, gamma=10, kernel=rbf, score=0.936, total=   0.0s
[CV] C=100, gamma=1, kernel=rbf ......................................
[CV] .......... C=100, gamma=1, kernel=rbf, score=0.957, total=   0.0s
[CV] C=100, gamma=1, kernel=rbf ......................................
[CV] .......... C=100, gamma=1, kernel=rbf, score=0.979, total=   0.0s
[CV] C=100, gamma=1, kernel=rbf ......................................
[CV] .......... C=100, gamma=1, kernel=rbf, score=0.936, total=   0.0s
[CV] C=100, gamma=1, kernel=rbf ......................................
[CV] .......... C=100, gamma=1, kernel=rbf, score=0.943, total=   0.0s
[CV] C=100, gamma=1, kernel=rbf ......................................
[CV] .......... C=100, gamma=1, kernel=rbf, score=0.886, total=   0.0s
[CV] C=100, gamma=0.1, kernel=rbf ....................................
[CV] ........ C=100, gamma=0.1, kernel=rbf, score=0.607, total=   0.0s
[CV] C=100, gamma=0.1, kernel=rbf ....................................
[CV] ........ C=100, gamma=0.1, kernel=rbf, score=0.550, total=   0.0s
[CV] C=100, gamma=0.1, kernel=rbf ....................................
[CV] ........ C=100, gamma=0.1, kernel=rbf, score=0.600, total=   0.0s
[CV] C=100, gamma=0.1, kernel=rbf ....................................
[CV] ........ C=100, gamma=0.1, kernel=rbf, score=0.564, total=   0.0s
[CV] C=100, gamma=0.1, kernel=rbf ....................................
[CV] ........ C=100, gamma=0.1, kernel=rbf, score=0.600, total=   0.0s
[CV] C=100, gamma=0.01, kernel=rbf ...................................
[CV] ....... C=100, gamma=0.01, kernel=rbf, score=0.529, total=   0.0s
[CV] C=100, gamma=0.01, kernel=rbf ...................................
[CV] ....... C=100, gamma=0.01, kernel=rbf, score=0.529, total=   0.0s
[CV] C=100, gamma=0.01, kernel=rbf ...................................
[CV] ....... C=100, gamma=0.01, kernel=rbf, score=0.521, total=   0.0s
[CV] C=100, gamma=0.01, kernel=rbf ...................................
[CV] ....... C=100, gamma=0.01, kernel=rbf, score=0.521, total=   0.0s
[CV] C=100, gamma=0.01, kernel=rbf ...................................
[CV] ....... C=100, gamma=0.01, kernel=rbf, score=0.521, total=   0.0s
[CV] C=100, gamma=0.001, kernel=rbf ..................................
[CV] ...... C=100, gamma=0.001, kernel=rbf, score=0.529, total=   0.0s
[CV] C=100, gamma=0.001, kernel=rbf ..................................
[CV] ...... C=100, gamma=0.001, kernel=rbf, score=0.529, total=   0.0s
[CV] C=100, gamma=0.001, kernel=rbf ..................................
[CV] ...... C=100, gamma=0.001, kernel=rbf, score=0.521, total=   0.0s
[CV] C=100, gamma=0.001, kernel=rbf ..................................
[CV] ...... C=100, gamma=0.001, kernel=rbf, score=0.521, total=   0.0s
[CV] C=100, gamma=0.001, kernel=rbf ..................................
[CV] ...... C=100, gamma=0.001, kernel=rbf, score=0.521, total=   0.0s
[CV] C=100, gamma=0.0001, kernel=rbf .................................
[CV] ..... C=100, gamma=0.0001, kernel=rbf, score=0.529, total=   0.0s
[CV] C=100, gamma=0.0001, kernel=rbf .................................
[CV] ..... C=100, gamma=0.0001, kernel=rbf, score=0.529, total=   0.0s
[CV] C=100, gamma=0.0001, kernel=rbf .................................
[CV] ..... C=100, gamma=0.0001, kernel=rbf, score=0.521, total=   0.0s
[CV] C=100, gamma=0.0001, kernel=rbf .................................
[CV] ..... C=100, gamma=0.0001, kernel=rbf, score=0.521, total=   0.0s
[CV] C=100, gamma=0.0001, kernel=rbf .................................
[CV] ..... C=100, gamma=0.0001, kernel=rbf, score=0.521, total=   0.0s
[CV] C=1000, gamma=10, kernel=rbf ....................................
[CV] ........ C=1000, gamma=10, kernel=rbf, score=0.986, total=   0.0s
[CV] C=1000, gamma=10, kernel=rbf ....................................
[CV] ........ C=1000, gamma=10, kernel=rbf, score=0.971, total=   0.0s
[CV] C=1000, gamma=10, kernel=rbf ....................................
[CV] ........ C=1000, gamma=10, kernel=rbf, score=0.964, total=   0.0s
[CV] C=1000, gamma=10, kernel=rbf ....................................
[CV] ........ C=1000, gamma=10, kernel=rbf, score=0.971, total=   0.0s
[CV] C=1000, gamma=10, kernel=rbf ....................................
[CV] ........ C=1000, gamma=10, kernel=rbf, score=0.929, total=   0.0s
[CV] C=1000, gamma=1, kernel=rbf .....................................
[CV] ......... C=1000, gamma=1, kernel=rbf, score=0.971, total=   0.0s
[CV] C=1000, gamma=1, kernel=rbf .....................................
[CV] ......... C=1000, gamma=1, kernel=rbf, score=0.964, total=   0.0s
[CV] C=1000, gamma=1, kernel=rbf .....................................
[CV] ......... C=1000, gamma=1, kernel=rbf, score=0.957, total=   0.0s
[CV] C=1000, gamma=1, kernel=rbf .....................................
[CV] ......... C=1000, gamma=1, kernel=rbf, score=0.957, total=   0.0s
[CV] C=1000, gamma=1, kernel=rbf .....................................
[CV] ......... C=1000, gamma=1, kernel=rbf, score=0.936, total=   0.0s
[CV] C=1000, gamma=0.1, kernel=rbf ...................................
[CV] ....... C=1000, gamma=0.1, kernel=rbf, score=0.957, total=   0.0s
[CV] C=1000, gamma=0.1, kernel=rbf ...................................
[CV] ....... C=1000, gamma=0.1, kernel=rbf, score=0.979, total=   0.0s
[CV] C=1000, gamma=0.1, kernel=rbf ...................................
[CV] ....... C=1000, gamma=0.1, kernel=rbf, score=0.936, total=   0.0s
[CV] C=1000, gamma=0.1, kernel=rbf ...................................
[CV] ....... C=1000, gamma=0.1, kernel=rbf, score=0.943, total=   0.0s
[CV] C=1000, gamma=0.1, kernel=rbf ...................................
[CV] ....... C=1000, gamma=0.1, kernel=rbf, score=0.886, total=   0.0s
[CV] C=1000, gamma=0.01, kernel=rbf ..................................
[CV] ...... C=1000, gamma=0.01, kernel=rbf, score=0.607, total=   0.0s
[CV] C=1000, gamma=0.01, kernel=rbf ..................................
[CV] ...... C=1000, gamma=0.01, kernel=rbf, score=0.550, total=   0.0s
[CV] C=1000, gamma=0.01, kernel=rbf ..................................
[CV] ...... C=1000, gamma=0.01, kernel=rbf, score=0.600, total=   0.0s
[CV] C=1000, gamma=0.01, kernel=rbf ..................................
[CV] ...... C=1000, gamma=0.01, kernel=rbf, score=0.564, total=   0.0s
[CV] C=1000, gamma=0.01, kernel=rbf ..................................
[CV] ...... C=1000, gamma=0.01, kernel=rbf, score=0.600, total=   0.0s
[CV] C=1000, gamma=0.001, kernel=rbf .................................
[CV] ..... C=1000, gamma=0.001, kernel=rbf, score=0.529, total=   0.0s
[CV] C=1000, gamma=0.001, kernel=rbf .................................
[CV] ..... C=1000, gamma=0.001, kernel=rbf, score=0.529, total=   0.0s
[CV] C=1000, gamma=0.001, kernel=rbf .................................
[CV] ..... C=1000, gamma=0.001, kernel=rbf, score=0.521, total=   0.0s
[CV] C=1000, gamma=0.001, kernel=rbf .................................
[CV] ..... C=1000, gamma=0.001, kernel=rbf, score=0.521, total=   0.0s
[CV] C=1000, gamma=0.001, kernel=rbf .................................
[CV] ..... C=1000, gamma=0.001, kernel=rbf, score=0.521, total=   0.0s
[CV] C=1000, gamma=0.0001, kernel=rbf ................................
[CV] .... C=1000, gamma=0.0001, kernel=rbf, score=0.529, total=   0.0s
[CV] C=1000, gamma=0.0001, kernel=rbf ................................
[CV] .... C=1000, gamma=0.0001, kernel=rbf, score=0.529, total=   0.0s
[CV] C=1000, gamma=0.0001, kernel=rbf ................................
[CV] .... C=1000, gamma=0.0001, kernel=rbf, score=0.521, total=   0.0s
[CV] C=1000, gamma=0.0001, kernel=rbf ................................
[CV] .... C=1000, gamma=0.0001, kernel=rbf, score=0.521, total=   0.0s
[CV] C=1000, gamma=0.0001, kernel=rbf ................................
[CV] .... C=1000, gamma=0.0001, kernel=rbf, score=0.521, total=   0.0s

[Parallel(n_jobs=1)]: Done 150 out of 150 | elapsed:    2.4s finished

GridSearchCV(cv=None, error_score=nan,
             estimator=SVC(C=1.0, break_ties=False, cache_size=200,
                           class_weight=None, coef0=0.0,
                           decision_function_shape='ovr', degree=3,
                           gamma='scale', kernel='rbf', max_iter=-1,
                           probability=False, random_state=None, shrinking=True,
                           tol=0.001, verbose=False),
             iid='deprecated', n_jobs=None,
             param_grid={'C': [0.1, 1, 10, 100, 1000],
                         'gamma': [10, 1, 0.1, 0.01, 0.001, 0.0001],
                         'kernel': ['rbf']},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=3)

In [ ]:
#Predict the response for test dataset
y_pred = grid_2.predict(X_test)

In [ ]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.95      0.99      0.97       142
           1       0.99      0.95      0.97       158

    accuracy                           0.97       300
   macro avg       0.97      0.97      0.97       300
weighted avg       0.97      0.97      0.97       300

In [2]:
girl = """Amsia
Arina
Ayu
Basariah
Be
Bibi
Biduri
Butet
Chairania
Chut-Nja-Din
Çurpanakha
Dahliana
Damayanti
Dara-Jingga
Dara-Petak
Demmink
Donk
Duvinse
Ellarose
Enny
Erlyinda
Erna
Etti
Fenty
Fitri
Giriputri
Haeyanti
Harianti
Harsini
Hartini
Herawati
Herna
Hersanti
Hertati
Ien
Iin
Indijah
Inggit
Irwan
Jannigje
Kalawenara
Kamsiah
Kemala
Kirana
Kiyesha
Komang
Laksari
Lauana
Lely
Lisma
Markonah
Megowati
Meuthia
Mitya
Mutiara
Nabylla
Namora Oloan
Nini
Novi
Nurhajati Dini
Prita
Puteri
Raden
Rasuna
Ratha
Ratu
Setyaningsih
Sinthia
Sioe
Siska
Siti
Soemadiredja
Soesanti
Soewarsih
Srihati
Srikandi
Sugiarti
Sulastinah
Sulistyorini
Sumbadra
Suminten
Sumitra
Suradnya
Surtikanti
Susi
Susulowati
Sutiati
Syagini
Tarakinta
Taty
Tika
Tirta
Titik
Tiza
Tumanniranga
Ulfah
Visi
Wahjuningsih
Warsijati
Widiyawati
Widyastuti
Wiwik
Wiwit
Yatun"""

In [4]:
girl.split('\n')

['Amsia',
 'Arina',
 'Ayu',
 'Basariah',
 'Be',
 'Bibi',
 'Biduri',
 'Butet',
 'Chairania',
 'Chut-Nja-Din',
 'Çurpanakha',
 'Dahliana',
 'Damayanti',
 'Dara-Jingga',
 'Dara-Petak',
 'Demmink',
 'Donk',
 'Duvinse',
 'Ellarose',
 'Enny',
 'Erlyinda',
 'Erna',
 'Etti',
 'Fenty',
 'Fitri',
 'Giriputri',
 'Haeyanti',
 'Harianti',
 'Harsini',
 'Hartini',
 'Herawati',
 'Herna',
 'Hersanti',
 'Hertati',
 'Ien',
 'Iin',
 'Indijah',
 'Inggit',
 'Irwan',
 'Jannigje',
 'Kalawenara',
 'Kamsiah',
 'Kemala',
 'Kirana',
 'Kiyesha',
 'Komang',
 'Laksari',
 'Lauana',
 'Lely',
 'Lisma',
 'Markonah',
 'Megowati',
 'Meuthia',
 'Mitya',
 'Mutiara',
 'Nabylla',
 'Namora Oloan',
 'Nini',
 'Novi',
 'Nurhajati Dini',
 'Prita',
 'Puteri',
 'Raden',
 'Rasuna',
 'Ratha',
 'Ratu',
 'Setyaningsih',
 'Sinthia',
 'Sioe',
 'Siska',
 'Siti',
 'Soemadiredja',
 'Soesanti',
 'Soewarsih',
 'Srihati',
 'Srikandi',
 'Sugiarti',
 'Sulastinah',
 'Sulistyorini',
 'Sumbadra',
 'Suminten',
 'Sumitra',
 'Suradnya',
 'Surtikanti',
 'Susi',
 'Susulowati',
 'Sutiati',
 'Syagini',
 'Tarakinta',
 'Taty',
 'Tika',
 'Tirta',
 'Titik',
 'Tiza',
 'Tumanniranga',
 'Ulfah',
 'Visi',
 'Wahjuningsih',
 'Warsijati',
 'Widiyawati',
 'Widyastuti',
 'Wiwik',
 'Wiwit',
 'Yatun']

In [6]:
boy = """Acawarman
Agung
Airlangga
Ajisaka
Amangku
Amangkurat
Ametung
Andika
Anusanatha
Apul
Arok
Ardianto
Atok
Bahadur
Balihung
Bambang
Bambong Sugeng
Batuta
Bayu
Bejo
Boleife
Bonjol
Budi
Buwana
Cahyono
Cecep
Chairil
Chairul
Çiva
Daksa
Debata
Dewantara
Entji
Erlangga
Eyo
Fakhry
Guntur
Hamengku
Hatta
Hiawang
Hulanapo
Janggam
Jarot
Jatawaman
Jayakatong
Kartanegara
Kartodirdjo
Kasumenagara
Kersen
Khoen
Kiani
Kundugga
Kurniawan
Kusnasosro
Lemboe
Madja
Mangkubuni
Mangoenkoesomo
Maraja
Marturak
Matulesia
Mauliwarmadewa
Mochtar
Mukmin
Nanggroe
Narotama
Pak
Panembahan
Pangeran
Parameswara
Purnadi
Raden
Ranga
Rexi
Roem
Sarmini
Sartoro
Satyawati
Sinduk
Singa
Soemarsaid
Sopan
Sugeng
Suharto
Sukanlah
Sukarno
Sukiman
Suluang
Sumitro
Suparman
Surapati
Susuhanan
Suyono
Syahrul
Tahmid
Takdir
Teungku
Tilo
Tjipto
Tjokroaminoto
Tohjaya
Triago
Tunggul
Wijaya
Wirapandya
Yapto
Yuwono"""

In [16]:
boy = boy.split('\n')

In [17]:
import pandas as pd
import numpy as np

In [27]:
df = pd.read_csv("nama_girl.csv")
df = df.drop("Unnamed: 0", axis=1)
df

                      Name
0                     Mary
1                     Anna
2                     Emma
3                Elizabeth
4                   Minnie
...                    ...
65700   cindy amelia putri
65701              ngadini
65702              hadimah
65703  aprillia rahma wati
65704                  eem

[65705 rows x 1 columns]

In [28]:
girl_df = pd.DataFrame(np.array(girl.split("\n")), columns=["Name"])
girl_df

           Name
0         Amsia
1         Arina
2           Ayu
3      Basariah
4            Be
..          ...
99   Widiyawati
100  Widyastuti
101       Wiwik
102       Wiwit
103       Yatun

[104 rows x 1 columns]

In [29]:
hasil = pd.concat([df, girl_df])
hasil = hasil.reset_index()
hasil = hasil.drop("index", axis=1)
hasil

             Name
0            Mary
1            Anna
2            Emma
3       Elizabeth
4          Minnie
...           ...
65804  Widiyawati
65805  Widyastuti
65806       Wiwik
65807       Wiwit
65808       Yatun

[65809 rows x 1 columns]

In [30]:
hasil.to_csv("nama_girl.csv")